.zust-spinner {
  background-color: currentColor;
  border-radius: 20%;
  animation: spin-spinner 0.8s linear infinite;
  animation-timing-function: ease-in-out;
}

@keyframes spin-spinner {
  0% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(1) rotate(180deg);
  }
  100% {
    transform: scale(0.6) rotate(360deg);
  }
}
