$container-items-margin: 10px !default;
$container-items-padding: 5px !default;
$container-padding: 0px !default;
$container-margin: 10px !default;

// Comfort Use
$it-mar: $container-items-margin;
$it-pad: $container-items-padding;

// Sizes
@mixin sizes {
  &.zust-1-2, &.zust-half  {
    flex: none;
    width: 50% !important;
  }

  // Three Parts
  @for $i from 1 through 2 {
    &.zust-#{$i}-3 {
      flex: none;
      width: percentage($i/3) !important;
    }
  }

  // Four Parts
  @for $i from 1 through 3 {
    &.zust-#{$i}-4 {
      flex: none;
      width: percentage($i/4) !important;
    }
  }

  // Five Parts
  @for $i from 1 through 4 {
    &.zust-#{$i}-5 {
      flex: none;
      width: percentage($i/5) !important;
    }
  }

  // 12 Parts
  @for $i from 1 through 11 {
    &.zust-#{$i}-12 {
      flex: none;
      width: percentage($i/12) !important;
    }
  }
}

@mixin c-sizes($value) {
  &.zust-1-2-#{$value}, &.zust-half-#{$value}  {
    flex: none;
    width: 50% !important;
  }

  // Three Parts
  @for $i from 1 through 2 {
    &.zust-#{$i}-3-#{$value} {
      flex: none;
      width: percentage($i/3) !important;
    }
  }

  // Four Parts
  @for $i from 1 through 3 {
    &.zust-#{$i}-4-#{$value} {
      flex: none;
      width: percentage($i/4) !important;
    }
  }

  // Five Parts
  @for $i from 1 through 4 {
    &.zust-#{$i}-5-#{$value} {
      flex: none;
      width: percentage($i/5) !important;
    }
  }

  // 12 Parts
  @for $i from 1 through 11 {
    &.zust-#{$i}-12-#{$value} {
      flex: none;
      width: percentage($i/12) !important;
    }
  }
}

.zust-container {
  padding: $container-padding;
  margin: $container-margin;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  overflow: visible;

  &.zust-v-centered {
    align-items: center;
  }

  &.zust-h-centered {
    justify-content: center;
  }

  &.zust-f-centered {
    align-items: center;
    justify-content: center;
  }

  &.zust-column {
    margin: 0 0 $container-margin 0;

    &:not(.zust-custom):not(.zust-mobile-only):not(.zust-tablet-only):not(.zust-touch):not(.zust-desktop) {
      @include tablet {
        flex-wrap: nowrap;
      }
    }

    &.zust-custom {
      &:not(.zust-active) {
        .zust-column {
          margin: 0 0 $it-mar 0;
        }
      }

      &.zust-active {
        flex-wrap: nowrap;

        .zust-column {
          margin: 0 $it-mar 0 0;

          @include sizes;
        }
      }
    }

    &.zust-mobile {
      @include mobile {
        flex-wrap: nowrap;

        .zust-column {
          margin: 0 $it-mar 0 0;

          @include sizes;
        }
      }
    }

    &.zust-mobile-only {
      @include mobile {
        flex-wrap: nowrap;

        .zust-column {
          margin: 0 $it-mar 0 0;

          @include sizes;
        }
      }

      @include tablet {
        > .zust-column {
          margin: 0 0 $it-mar 0;
        }
      }
    }

    &.zust-tablet-only {
      @include zust-tablet {
        flex-wrap: nowrap;

        .zust-column {
          margin: 0 $it-mar 0 0;

          @include sizes;
        }
      }

      @include mobile {
        > .zust-column {
          margin: 0 0 $it-mar 0;
        }
      }

      @include desktop {
        > .zust-column {
          margin: 0 0 $it-mar 0;
        }
      }
    }

    &.zust-touch {
      @include touch {
        flex-wrap: nowrap;

        .zust-column {
          margin: 0 $it-mar 0 0;

          @include sizes;
        }
      }

      @include desktop {
        > .zust-column {
          margin: 0 0 $it-mar 0;
        }
      }
    }

    &.zust-desktop {
      @include desktop {
        flex-wrap: nowrap;

        .zust-column {
          margin: 0 $it-mar 0 0;

          @include sizes;
        }
      }

      @include touch {
        > .zust-column {
          margin: 0 0 $it-mar 0;
        }
      }
    }
  }

  .zust-column {
    margin: 0 $it-mar 0 0;
    padding: $it-pad;

    &:not(.zust-default):not(.zust-default-mobile):not(.zust-default-tablet):not(.zust-default-touch):not(.zust-default-desktop) {
      width: 100%;
    }

    &.zust-default {
      flex: none;
    }

    &.zust-default-mobile {
      @include mobile {
        flex: none;
      }

      @include tablet {
        width: 100%;
      }

      @include desktop {
        width: 100%;
      }
    }

    &.zust-default-tablet {
      @include zust-tablet {
        flex: none;
      }

      @include mobile {
        width: 100%;
      }

      @include desktop {
        width: 100%;
      }
    }

    &.zust-default-touch {
      @include touch {
        flex: none;
      }

      @include desktop {
        width: 100%;
      }
    }

    &.zust-default-desktop {
      @include desktop {
        flex: none;
      }

      @include touch {
        width: 100%;
      }
    }

    @include mobile {
      margin: 0 0 $it-mar 0;
    }

    &:last-child {
      margin: 0 !important;
    }

    &.zust-full {
      flex: none;
      width: 100%;
    }

    &.zust-container {
      padding: 0;
    }

    @include tablet {
      @include sizes;
    }

    @include mobile {
      @include c-sizes(mobile);
    }

    @include zust-tablet {
      @include c-sizes(tablet);
    }

    @include touch {
      @include c-sizes(touch);
    }

    @include desktop {
      @include c-sizes(desktop);
    }
  }
}
