html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--body-text-color);
  height: 100%;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  width: 100%;

  @if $css-variable-enabled {
    font-size: var(--body-font-size);
    font-family: var(--body-font-family);
  } @else {
    font-size: $body-font-size;
    font-family: $body-font-family;
  }
}

body {
  background-color: var(--body-bg-color);
  color: var(--body-text-color);
  height: min-content;
  padding: 20px;
  transition-property: background-color !important;
  margin: 0;

  @if $css-variable-enabled {
    transition: var(--primary-transition);
  } @else {
    transition: $primary-transition;
  }
}

text, p {
  color: var(--body-text-color);
}

a:not(.#{$prefix}btn) {
  color: var(--link-color);
  text-decoration: none;
  word-break: break-word;
  transition: $primary-transition;
  border-bottom-style: solid;
  border-color: $transparent;

  @if $css-variable-enabled {
    border-width: var(--anchor-border-width);
  } @else {
    border-width: $anchor-border-width;
  }

  &:hover, &.#{$prefix}hovered, &:focus, &.#{$prefix}focused {
    color: var(--link-hovered-color);
    border-color: var(--link-hovered-color);
  }
}

hr[divider] {
  width: 100%;
  border-style: solid;
  border-color: var(--divider-color);
  border-width: 2px;
  border-radius: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0.5;
  transition: $primary-transition;
}

blockquote {
  position: relative;
  margin: 0 10px;
  padding: 4px 20px;
  color: var(--text-color-tertiary);

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 6px;
    background-color: var(--blockquote-line-color);
    border-radius: 20px;

    @if $css-variable-enabled {
      transition: var(--primary-transition);
    } @else {
      transition: $primary-transition;
    }
  }

  @each $name, $color in $item-colors {
    @if $name {
      &.#{$prefix}#{$name}:after {
        background-color: $color;
      }
    }
  }
}

h1, h2, h3, h4, h5, h6, .#{$prefix}h1, .#{$prefix}h2, .#{$prefix}h3, .#{$prefix}h4, .#{$prefix}h5, .#{$prefix}h6 {
  display: block;
  color: var(--text-color-primary);
  transition: $primary-transition;
}

h1, .#{$prefix}h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2, .#{$prefix}h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3, .#{$prefix}h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4, .#{$prefix}h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5, .#{$prefix}h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6, .#{$prefix}h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
