html {
  height: 100%;
  width: 100%;
}

body {
  height: min-content;
  background-color: var(--body-color-primary);
  transition: $primary-transition;
  color: var(--text-color-secondary);
  padding: 20px;
}

text, p {
  color: var(--text-color-secondary);
}

a:not(.zust-btn) {
  color: hsl(210, 100%, 50%);
  text-decoration: none;
  word-break: break-word;
  transition: 0.2s;

  &:hover, &.zust-hovered {
    color: hsl(210, 100%, 60%);
  }
}

hr[divider] {
  width: 100%;
  border-style: solid;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-color: var(--divider-color);
  border-width: 2px;
  border-radius: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  unicode-bidi: unset;
  transition: $secondary-transition;
}

blockquote {
  border-left-style: solid;
  border-width: 4px;
  border-radius: 4px;
  margin: {
    left: 10px;
    right: 10px;
  }
  padding: {
    left: 20px;
    right: 20px;
  }

  @each $name, $color in $item-colors {
    @if $name {
      &.zust-#{$name} {
        border-color: $color;
      }
    }
  }
}

h1, h2, h3, h4, h5, h6, .zust-h1, .zust-h2, .zust-h3, .zust-h4, .zust-h5, .zust-h6 {
  display: block;
  color: var(--text-color-primary);
  transition: $primary-transition;
}

h1, .zust-h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2, .zust-h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3, .zust-h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4, .zust-h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5, .zust-h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6, .zust-h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
