$transparent: rgba(255, 255, 255, 0);
$stransparent: rgba(144, 144, 144, 0.1);
$text-dark: #404040;
$medium: rgba(144, 144, 144, 0.1);
$white: #FFFFFF;
$black: #000000;
$red: #F44336;
$pink: #E91E63;
$purple: #9C27B0;
$deep-purple: #673AB7;
$indigo: #3F51B5;
$blue: #007fff;
$blue-a200: #448AFF;
$blue-a400: #2979FF;
$light-blue: #03A9F4;
$cyan: #00BCD4;
$teal: #009688;
$green: #4CAF50;
$light-green: #8BC34A;
$lime: #CDDC39;
$yellow: #FFEB3B;
$amber: #FFC107;
$orange: #FF9800;
$deep-orange: #FF5722;
$brown: #795548;
$grey: #9E9E9E;
$light-grey: #FAFAFA;
$grey-shade-1: #F5F5F5;
$grey-shade-2: #EEEEEE;
$grey-shade-3: #E0E0E0;
$grey-shade-4: #BDBDBD;
$grey-shade-5: #9E9E9E;
$grey-shade-6: #757575;
$grey-shade-7: #616161;
$grey-shade-8: #424242;
$grey-shade-9: #212121;
$blue-grey: #607D8B;
$turquoise: #1ABC9C;
$green-sea: #16A085;
$emerald: #2ECC71;
$nephritis: #27AE60;
$peter-river: #3498DB;
$alizarin: #E74C3C;

// Brands
$github: #24292e;
$facebook: #4267b2;
$twitter: #38A1F3;
$linkedin: #0077B5;
$youtube: #ff0000;

// List
$colors: (
  ('red', $red, textForBg($red)),
  ('pink', $pink, textForBg($pink)),
  ('purple', $purple, textForBg($purple)),
  ('deep-purple', $deep-purple, textForBg($deep-purple)),
  ('indigo', $indigo, textForBg($indigo)),
  ('blue', $blue, textForBg($blue)),
  ('light-blue', $light-blue, textForBg($light-blue)),
  ('cyan', $cyan, textForBg($cyan)),
  ('teal', $teal, textForBg($teal)),
  ('green', $green, textForBg($green)),
  ('light-green', $light-green, textForBg($light-green)),
  ('lime', $lime, textForBg($lime)),
  ('yellow', $yellow, textForBg($yellow)),
  ('amber', $amber, textForBg($amber)),
  ('orange', $orange, textForBg($orange)),
  ('deep-orange', $deep-orange, textForBg($deep-orange)),
  ('brown', $brown, textForBg($brown)),
  ('grey', $grey, textForBg($grey)),
  ('light-grey', $light-grey, textForBg($light-grey)),
  ('blue-grey', $blue-grey, textForBg($blue-grey)),
  ('white', $white, textForBg($white)),
  ('black', $black, textForBg($black)),
  ('transparent', $transparent, var(--text-color-primary)),

  // Brands
  ('github', $github, textForBg($github)),
  ('facebook', $facebook, textForBg($facebook)),
  ('twitter', $twitter, textForBg($twitter)),
  ('linkedin', $linkedin, textForBg($linkedin)),
  ('youtube', $youtube, textForBg($youtube))
);
