// Resetting Outline
*, *:focus, *:hover, *:active, *:focus-within {
  outline: none !important;
  outline-width: 0 !important;
  outline-color: $transparent !important;
}

.#{$prefix}btn, label {
  @include desktop {
    cursor: pointer;
  }

  @include touch {
    cursor: default;
  }
}

* {
  -webkit-tap-highlight-color: $transparent;
}

*, *:after, *:before {
  box-sizing: border-box;
}
