body {
  background-color: var(--body-color-primary);
  transition: $primary-transition;
  color: var(--text-color-secondary);
  padding: 20px;
}

a {
  color: hsl(210, 100%, 50%);
  text-decoration: none;
  white-space: pre-wrap;
  word-break: break-word;
  transition: 0.2s;

  &:hover, &.zust-hovered {
    color: hsl(210, 100%, 60%);
  }
}

hr {
  width: 100%;
  border-style: solid;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-color: var(--divider-color);
  border-width: 2px;
  border-radius: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  unicode-bidi: unset;
  transition: $secondary-transition;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color-primary);
  transition: $primary-transition;
}
