%full-width {
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
}

%full-height {
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill-available;
}
