$primary-color: hsl(36, 100%, 50%) !default;
$primary-color-dark: $primary-color !default;
$primary-hovered-color: hsl(36, 100%, 47%) !default;
$primary-hovered-color-dark: $primary-hovered-color !default;
$primary-color-light: hsla(36, 100%, 57%, 0.3) !default;
$primary-color-light-dark: $primary-color-light !default;

$success-color: hsl(88, 50%, 53%) !default;
$success-color-dark: $success-color !default;
$success-hovered-color: hsl(88, 50%, 48%) !default;
$success-hovered-color-dark: $success-hovered-color !default;
$success-color-light: hsla(88, 50%, 53%, 0.3) !default;
$success-color-light-dark: $success-color-light !default;

$warning-color: hsl(45, 100%, 51%) !default;
$warning-color-dark: $warning-color !default;
$warning-hovered-color: hsl(45, 100%, 48%) !default;
$warning-hovered-color-dark: $warning-hovered-color !default;
$warning-color-light: hsla(45, 100%, 51%, 0.3) !default;
$warning-color-light-dark: $warning-color-light !default;

$error-color: hsl(4, 90%, 58%) !default;
$error-color-dark: $error-color !default;
$error-hovered-color: hsl(1, 83%, 55%) !default;
$error-hovered-color-dark: $error-hovered-color !default;
$error-color-light: hsla(4, 90%, 58%, 0.3) !default;
$error-color-light-dark: $error-color-light !default;

$link-color: hsl(210, 100%, 50%) !default;
$link-color-dark: $link-color !default;
$link-hovered-color: hsl(210, 100%, 47%) !default;
$link-hovered-color-dark: $link-hovered-color !default;
$link-color-light: hsla(210, 100%, 50%, 0.3) !default;
$link-color-light-dark: $link-color-light !default;

// General Items
$body-color-primary: hsl(0, 0%, 100%) !default;
$body-color-primary-dark: hsl(0, 0%, 13%) !default;
$text-color-primary: hsl(0, 0%, 25%) !default;
$text-color-primary-dark: hsl(0, 0%, 100%) !default;
$text-color-secondary: hsl(0, 0%, 35%) !default;
$text-color-secondary-dark: hsl(0, 0%, 85%) !default;
$text-color-tertiary: hsl(0, 0%, 45%) !default;
$text-color-tertiary-dark: hsl(0, 0%, 75%) !default;
$divider-color: hsl(0, 0%, 82%) !default;
$divider-color-dark: hsl(0, 0%, 42%) !default;

// Badge
$badge-text-color: hsl(0, 0%, 35%) !default;
$badge-text-color-dark: hsl(0, 0%, 95%) !default;

// Button
$button-bg-color: hsl(0, 0%, 100%) !default;
$button-bg-color-dark: hsl(0, 0%, 15%) !default;
$button-border-color: hsl(0, 0%, 90%) !default;
$button-border-color-dark: hsl(0, 0%, 28%) !default;
$button-hover-border-color: hsl(0, 0%, 84%) !default;
$button-hover-border-color-dark: hsl(0, 0%, 35%) !default;
$button-text-color: hsl(0, 0%, 40%) !default;
$button-text-color-dark: hsl(0, 0%, 85%) !default;
$button-focus-border-color: hsla(291, 64%, 42%, 0.14) !default;
$button-focus-border-color-dark: hsla(291, 47%, 51%, 0.45) !default;

// Bottom Nav
$bottom-nav-bg-color: hsl(0, 0%, 90%) !default;
$bottom-nav-bg-color-dark: hsl(0, 0%, 25%) !default;

// Cards
$card-bg-color: hsl(0, 0%, 100%) !default;
$card-bg-color-dark: hsl(0, 0%, 17%) !default;
$card-border-color: hsl(0, 0%, 88%) !default;
$card-border-color-dark: hsl(0, 0%, 42%) !default;

// Chip
$chip-bg-color: hsl(0, 0%, 97%) !default;
$chip-bg-color-dark: hsl(0, 0%, 17%) !default;

// Dialog
$modal-bg-color: hsl(0, 0%, 100%) !default;
$modal-bg-color-dark: hsl(0, 0%, 26%) !default;

// Dropdown
$dropdown-bg-color: hsl(0, 0%, 100%) !default;
$dropdown-bg-color-dark: hsl(0, 0%, 17%) !default;
$dropdown-border-color: hsl(0, 0%, 88%) !default;
$dropdown-border-color-dark: hsl(0, 0%, 42%) !default;
$dropdown-text-color: hsl(0, 0%, 26%) !default;
$dropdown-text-color-dark: hsl(0, 0%, 88%) !default;
$dropdown-option-hovered-color: hsl(0, 0%, 93%) !default;
$dropdown-option-hovered-color-dark: hsl(0, 0%, 28%) !default;

// Table
$table-border-color: hsl(0, 0%, 90%) !default;
$table-border-color-dark: hsl(0, 0%, 30%) !default;
$table-bg-color: hsl(0, 0%, 95%) !default;
$table-bg-color-dark: hsl(0, 0%, 20%) !default;
$table-bg-color-hovered: $table-border-color !default;
$table-bg-color-hovered-dark: $table-border-color-dark !default;

// Input
$input-bg-color: hsl(0, 0%, 97%) !default;
$input-bg-color-dark: hsl(0, 0%, 10%) !default;
$input-stransparent-bg-color: hsla(0, 0%, 0%, 0.04) !default;
$input-stransparent-bg-color-dark: hsla(0, 0%, 0%, 0.23) !default;
$input-stransparent-hovered-bg-color: hsla(0, 0%, 0%, 0.1) !default;
$input-stransparent-hovered-bg-color-dark: hsla(0, 0%, 0%, 0.4) !default;
$input-hovered-bg-color: hsl(0, 0%, 93%) !default;
$input-hovered-bg-color-dark: hsl(0, 0%, 7%) !default;
$input-text-color: hsl(0, 0%, 35%) !default;
$input-text-color-dark: hsl(0, 0%, 85%) !default;
$input-border-color: hsl(187, 100%, 70%) !default;
$input-border-color-dark: hsl(187, 100%, 42%) !default;
$input-placeholder-text-color: hsl(0, 0%, 46%) !default;
$input-placeholder-text-color-dark: hsl(0, 0%, 46%) !default;
// Input Append
$input-append-bg-color: hsl(0, 0%, 88%) !default;
$input-append-bg-color-dark: hsl(0, 0%, 25%) !default;
$input-append-fg-color: hsl(0, 0%, 50%) !default;
$input-append-fg-color-dark: hsl(0, 0%, 70%) !default;

// Item Disabled
$item-disabled-bg-color: hsla(0, 0%, 98%, 1) !default;
$item-disabled-bg-color-dark: hsla(0, 0%, 16%, 1) !default;
$item-disabled-fg-color: hsl(0, 0%, 86%) !default;
$item-disabled-fg-color-dark: hsla(0, 0%, 30%, 1) !default;

// Slider/Range
$range-bg-color: hsl(0, 0%, 93%) !default;
$range-bg-color-dark: hsl(0, 0%, 18%) !default;

// Switch
$switch-fg-color: hsl(0, 0%, 90%) !default;
$switch-fg-color-dark: hsl(0, 0%, 70%) !default;
$switch-active-fg-color: $primary-color !default;
$switch-active-fg-color-dark: $primary-color !default;
$switch-bg-color: hsl(0, 0%, 75%) !default;
$switch-bg-color-dark: hsl(0, 0%, 30%) !default;
$switch-active-bg-color: lighten($switch-active-fg-color, 20%) !default;
$switch-active-bg-color-dark: lighten($switch-active-fg-color, 15%) !default;
// Disabled
$switch-disabled-bg-color: hsl(0, 0%, 85%) !default;
$switch-disabled-bg-color-dark: hsl(0, 0%, 20%) !default;
$switch-disabled-fg-color: hsl(0, 0%, 90%) !default;
$switch-disabled-fg-color-dark: hsl(0, 0%, 20%) !default;

// Progress Bar
$progress-back-bg-color: hsl(0, 0%, 93%) !default;
$progress-back-bg-color-dark: hsl(0, 0%, 18%) !default;
$progress-back-text-color: $text-color-secondary !default;
$progress-back-text-color-dark: $text-color-secondary-dark !default;
$progress-bar-bg-color: $primary-color !default;
$progress-bar-bg-color-dark: $progress-bar-bg-color !default;
$progress-bar-text-color: $white !default;
$progress-bar-text-color-dark: $white !default;

// Radio Buttons
$radio-button-border-color: hsl(0, 0%, 46%) !default;
$radio-button-border-color-dark: hsl(0, 0%, 96%) !default;
$radio-button-selected-border-color: hsl(0, 0%, 100%) !default;
$radio-button-selected-border-color-dark: hsl(0, 0%, 13%) !default;
$radio-button-disabled-border-color: hsl(0, 0%, 88%) !default;
$radio-button-disabled-border-color-dark: hsl(0, 0%, 40%) !default;

// Tooltip
$tooltip-bg-color: #FFF !default;
$tooltip-bg-color-dark: hsl(0, 0%, 26%) !default;

// Misc.
$dimmer-bg-color: hsla(0, 0%, 0%, 0.6) !default;
$dimmer-bg-color-dark: $dimmer-bg-color !default;
$light-color: hsl(0, 0%, 96%) !default;
$light-color-dark: hsl(0, 0%, 18%) !default;
$text-color-inverted: #FFFFFF !default;
$text-color-inverted-dark: #484848 !default;
$bg-color-inverted: hsl(0, 0%, 13%) !default;
$bg-color-inverted-dark: whitesmoke !default;
