$primary-color: #2ECC71 !default;
$primary-color-dark: $primary-color !default;
$primary-text-color: textForBg($primary-color) !default;
$primary-text-color-dark: textForBg($primary-color-dark) !default;
$primary-hovered-color: darken($primary-color, 5%) !default;
$primary-hovered-color-dark: darken($primary-color-dark, 5%) !default;
$primary-color-light: transparentize($primary-color, 0.7) !default;
$primary-color-light-dark: transparentize($primary-color-dark, 0.7) !default;

//$success-color: #9DC822 !default;
$success-color: #71d013 !default;
$success-color-dark: $success-color !default;
$success-text-color: textForBg($success-color) !default;
$success-text-color-dark: textForBg($success-color-dark) !default;
$success-hovered-color: darken($success-color, 5%) !default;
$success-hovered-color-dark: darken($success-color-dark, 5%) !default;
$success-color-light: transparentize($success-color, 0.7) !default;
$success-color-light-dark: transparentize($success-color-dark, 0.7) !default;

$warning-color: hsl(45, 100%, 51%) !default;
$warning-color-dark: $warning-color !default;
$warning-text-color: textForBg($warning-color) !default;
$warning-text-color-dark: textForBg($warning-color-dark) !default;
$warning-hovered-color: darken($warning-color, 3%) !default;
$warning-hovered-color-dark: darken($warning-color-dark, 3%) !default;
$warning-color-light: transparentize($warning-color, 0.7) !default;
$warning-color-light-dark: transparentize($warning-color-dark, 0.7) !default;

$error-color: #FF6348 !default;
$error-color-dark: $error-color !default;
$error-text-color: textForBg($error-color) !default;
$error-text-color-dark: textForBg($error-color-dark) !default;
$error-hovered-color: darken($error-color, 3%) !default;
$error-hovered-color-dark: darken($error-color-dark, 3%) !default;
$error-color-light: transparentize($error-color, 0.7) !default;
$error-color-light-dark: transparentize($error-color-dark, 0.7) !default;

$link-color: hsl(210, 100%, 50%) !default;
$link-color-dark: $link-color !default;
$link-text-color: textForBg($link-color) !default;
$link-text-color-dark: textForBg($link-color-dark) !default;
$link-hovered-color: darken($link-color, 3%) !default;
$link-hovered-color-dark: darken($link-color-dark, 3%) !default;
$link-color-light: transparentize($link-color, 0.7) !default;
$link-color-light-dark: transparentize($link-color-dark, 0.7) !default;

// Base
$text-color-primary: hsl(0, 0%, 25%) !default;
$text-color-primary-dark: hsl(0, 0%, 100%) !default;
$text-color-secondary: hsl(0, 0%, 35%) !default;
$text-color-secondary-dark: hsl(0, 0%, 85%) !default;
$text-color-tertiary: hsl(0, 0%, 45%) !default;
$text-color-tertiary-dark: hsl(0, 0%, 75%) !default;
$body-bg-color: hsl(0, 0%, 100%) !default;
$body-bg-color-dark: hsl(0, 0%, 13%) !default;
$body-text-color: $text-color-secondary !default;
$body-text-color-dark: $text-color-secondary-dark !default;
$divider-color: hsl(0, 0%, 82%) !default;
$divider-color-dark: hsl(0, 0%, 42%) !default;

// Badge
$badge-text-color: hsl(0, 0%, 35%) !default;
$badge-text-color-dark: hsl(0, 0%, 95%) !default;

// Button
$button-bg-color: hsl(0, 0%, 100%) !default;
$button-bg-color-dark: hsl(0, 0%, 15%) !default;
$button-border-color: hsl(0, 0%, 90%) !default;
$button-border-color-dark: hsl(0, 0%, 28%) !default;
$button-hovered-border-color: hsl(0, 0%, 84%) !default;
$button-hovered-border-color-dark: hsl(0, 0%, 35%) !default;
$button-text-color: hsl(0, 0%, 40%) !default;
$button-text-color-dark: hsl(0, 0%, 85%) !default;
$button-focus-border-color: hsla(291, 64%, 42%, 0.14) !default;
$button-focus-border-color-dark: hsla(291, 47%, 51%, 0.45) !default;

// Bottom Nav
$bottom-nav-bg-color: hsl(0, 0%, 90%) !default;
$bottom-nav-bg-color-dark: hsl(0, 0%, 25%) !default;

// Cards
$card-bg-color: hsl(0, 0%, 100%) !default;
$card-bg-color-dark: hsl(0, 0%, 17%) !default;
$card-border-color: hsl(0, 0%, 88%) !default;
$card-border-color-dark: hsl(0, 0%, 42%) !default;

// Chip
$chip-bg-color: hsl(0, 0%, 97%) !default;
$chip-bg-color-dark: hsl(0, 0%, 17%) !default;

// Dialog
$modal-bg-color: hsl(0, 0%, 100%) !default;
$modal-bg-color-dark: hsl(0, 0%, 26%) !default;

// Dropdown
$dropdown-bg-color: hsl(0, 0%, 100%) !default;
$dropdown-bg-color-dark: hsl(0, 0%, 17%) !default;
$dropdown-border-color: hsl(0, 0%, 88%) !default;
$dropdown-border-color-dark: hsl(0, 0%, 42%) !default;
$dropdown-text-color: hsl(0, 0%, 26%) !default;
$dropdown-text-color-dark: hsl(0, 0%, 88%) !default;
$dropdown-option-hovered-color: hsl(0, 0%, 93%) !default;
$dropdown-option-hovered-color-dark: hsl(0, 0%, 28%) !default;

// Table
$table-border-color: hsl(0, 0%, 90%) !default;
$table-border-color-dark: hsl(0, 0%, 30%) !default;
$table-bg-color: hsl(0, 0%, 95%) !default;
$table-bg-color-dark: hsl(0, 0%, 20%) !default;
$table-hovered-bg-color: $table-border-color !default;
$table-hovered-bg-color-dark: $table-border-color-dark !default;

// Input
$input-bg-color: hsl(0, 0%, 97%) !default;
$input-bg-color-dark: hsl(0, 0%, 10%) !default;
$input-hovered-bg-color: hsl(0, 0%, 93%) !default;
$input-hovered-bg-color-dark: hsl(0, 0%, 7%) !default;
$input-text-color: hsl(0, 0%, 35%) !default;
$input-text-color-dark: hsl(0, 0%, 85%) !default;
$input-border-color: hsl(187, 100%, 70%) !default;
$input-border-color-dark: hsl(187, 100%, 42%) !default;
$input-placeholder-text-color: hsl(0, 0%, 46%) !default;
$input-placeholder-text-color-dark: hsl(0, 0%, 46%) !default;
// Input Append
$input-append-bg-color: hsl(0, 0%, 88%) !default;
$input-append-bg-color-dark: hsl(0, 0%, 25%) !default;
$input-append-fg-color: hsl(0, 0%, 50%) !default;
$input-append-fg-color-dark: hsl(0, 0%, 70%) !default;

// Item Disabled
$item-disabled-bg-color: hsla(0, 0%, 98%, 1) !default;
$item-disabled-bg-color-dark: hsla(0, 0%, 16%, 1) !default;
$item-disabled-fg-color: hsl(0, 0%, 86%) !default;
$item-disabled-fg-color-dark: hsla(0, 0%, 30%, 1) !default;

// Slider/Range
$range-bg-color: hsl(0, 0%, 93%) !default;
$range-bg-color-dark: hsl(0, 0%, 18%) !default;

// Switch
$switch-fg-color: hsl(0, 0%, 85%) !default;
$switch-fg-color-dark: hsl(0, 0%, 70%) !default;
$switch-active-fg-color: #FFF !default;
$switch-active-fg-color-dark: $switch-active-fg-color !default;
$switch-bg-color: hsl(0, 0%, 100%) !default;
$switch-bg-color-dark: hsl(0, 0%, 20%) !default;
$switch-active-bg-color: $primary-color !default;
$switch-active-bg-color-dark: $switch-active-bg-color !default;
$switch-border-color: hsl(0, 0%, 90%) !default;
$switch-border-color-dark: hsl(0, 0%, 30%) !default;
$switch-active-border-color: transparentize($switch-active-bg-color, 0.6) !default;
$switch-active-border-color-dark: $switch-active-border-color !default;
// Disabled
$switch-disabled-bg-color: hsl(0, 0%, 90%) !default;
$switch-disabled-bg-color-dark: hsl(0, 0%, 20%) !default;
$switch-disabled-fg-color: hsl(0, 0%, 85%) !default;
$switch-disabled-fg-color-dark: hsl(0, 0%, 25%) !default;

// Progress Bar
$progress-back-bg-color: hsl(0, 0%, 93%) !default;
$progress-back-bg-color-dark: hsl(0, 0%, 18%) !default;
$progress-back-text-color: $text-color-secondary !default;
$progress-back-text-color-dark: $text-color-secondary-dark !default;
$progress-bar-bg-color: $primary-color !default;
$progress-bar-bg-color-dark: $progress-bar-bg-color !default;
$progress-bar-text-color: $white !default;
$progress-bar-text-color-dark: $white !default;

// Radio Buttons
$radio-button-border-color: hsl(0, 0%, 46%) !default;
$radio-button-border-color-dark: hsl(0, 0%, 96%) !default;
$radio-button-selected-border-color: hsl(0, 0%, 100%) !default;
$radio-button-selected-border-color-dark: hsl(0, 0%, 13%) !default;
$radio-button-disabled-border-color: hsl(0, 0%, 88%) !default;
$radio-button-disabled-border-color-dark: hsl(0, 0%, 40%) !default;

// Tooltip
$tooltip-bg-color: #FFF !default;
$tooltip-bg-color-dark: hsl(0, 0%, 26%) !default;
$tooltip-text-color: $text-color-secondary !default;
$tooltip-text-color-dark: $text-color-secondary-dark !default;

// Misc.
$dimmer-bg-color: hsla(0, 0%, 0%, 0.6) !default;
$dimmer-bg-color-dark: $dimmer-bg-color !default;
$light-color: rgba(144, 144, 144, 0.1) !default;
$light-color-dark: rgba(144, 144, 144, 0.1) !default;
$text-color-inverted: #FFFFFF !default;
$text-color-inverted-dark: #484848 !default;
$bg-color-inverted: hsl(0, 0%, 13%) !default;
$bg-color-inverted-dark: whitesmoke !default;
