:root, [zust-theme="light"] {

  // Theme Colors
  --primary-color: #{$primary-color};
  --primary-text-color: #{$primary-text-color};
  --primary-hovered-color: #{$primary-hovered-color};
  --primary-color-light: #{$primary-color-light};
  --success-color: #{$success-color};
  --success-text-color: #{$success-text-color};
  --success-hovered-color: #{$success-hovered-color};
  --success-color-light: #{$success-color-light};
  --warning-color: #{$warning-color};
  --warning-text-color: #{$warning-text-color};
  --warning-hovered-color: #{$warning-hovered-color};
  --warning-color-light: #{$warning-color-light};
  --error-color: #{$error-color};
  --error-text-color: #{$error-text-color};
  --error-hovered-color: #{$error-hovered-color};
  --error-color-light: #{$error-color-light};
  --link-color: #{$link-color};
  --link-text-color: #{$link-text-color};
  --link-hovered-color: #{$link-hovered-color};
  --link-color-light: #{$link-color-light};

  // Base
  --body-bg-color: #{$body-bg-color};
  --body-text-color: #{$body-text-color};
  --text-color-primary: #{$text-color-primary};
  --text-color-secondary: #{$text-color-secondary};
  --text-color-tertiary: #{$text-color-tertiary};
  --divider-color: #{$divider-color};

  // Badge
  --badge-text-color: #{$badge-text-color};

  // Button
  --button-bg-color: #{$button-bg-color};
  --button-border-color: #{$button-border-color};
  --button-hovered-border-color: #{$button-hovered-border-color};
  --button-text-color: #{$button-text-color};
  --button-focus-border-color: #{$button-focus-border-color};

  // Bottom Nav
  --bottom-nav-bg-color: #{$bottom-nav-bg-color};

  // Cards
  --card-bg-color: #{$card-bg-color};
  --card-border-color: #{$card-border-color};

  // Chip
  --chip-bg-color: #{$chip-bg-color};

  // Dialog
  --modal-bg-color: #{$modal-bg-color};

  // Dropdown
  --dropdown-bg-color: #{$dropdown-bg-color};
  --dropdown-border-color: #{$dropdown-border-color};
  --dropdown-text-color: #{$dropdown-text-color};
  --dropdown-option-hovered-color: #{$dropdown-option-hovered-color};

  // Table
  --table-border-color: #{$table-border-color};
  --table-bg-color: #{$table-bg-color};
  --table-hovered-bg-color: #{$table-hovered-bg-color};

  // Input
  --input-bg-color: #{$input-bg-color};
  --input-hovered-bg-color: #{$input-hovered-bg-color};
  --input-text-color: #{$input-text-color};
  --input-border-color: #{$input-border-color};
  --input-placeholder-text-color: #{$input-placeholder-text-color};
  // Input Append
  --input-append-bg-color: #{$input-append-bg-color};
  --input-append-fg-color: #{$input-append-fg-color};

  // Item Disabled
  --item-disabled-bg-color: #{$item-disabled-bg-color};
  --item-disabled-fg-color: #{$item-disabled-fg-color};

  // Slider/Range
  --range-bg-color: #{$range-bg-color};

  // Switch
  --switch-bg-color: #{$switch-bg-color};
  --switch-active-bg-color: #{$switch-active-bg-color};
  --switch-fg-color: #{$switch-fg-color};
  --switch-active-fg-color: #{$switch-active-fg-color};
  // Disabled
  --switch-disabled-bg-color: #{$switch-disabled-bg-color};
  --switch-disabled-fg-color: #{$switch-disabled-fg-color};

  // Progress Bar
  --progress-back-bg-color: #{$progress-back-bg-color};
  --progress-back-text-color: #{$progress-back-text-color};
  --progress-bar-bg-color: #{$progress-bar-bg-color};
  --progress-bar-text-color: #{$progress-bar-text-color};

  // Radio Buttons
  --radio-button-border-color: #{$radio-button-border-color};
  --radio-button-selected-border-color: #{$radio-button-selected-border-color};
  --radio-button-disabled-border-color: #{$radio-button-disabled-border-color};

  // Tooltip
  --tooltip-bg-color: #{$tooltip-bg-color};
  --tooltip-text-color: #{$tooltip-text-color};

  // Misc.
  --dimmer-bg-color: #{$dimmer-bg-color};
  --light-color: #{$light-color};
  --text-color-inverted: #{$text-color-inverted};
  --bg-color-inverted: #{$bg-color-inverted};
}

[zust-theme="dark"] {

  // Theme Colors
  --primary-color: #{$primary-color-dark};
  --primary-text-color: #{$primary-text-color-dark};
  --primary-hovered-color: #{$primary-hovered-color-dark};
  --primary-color-light: #{$primary-color-light-dark};
  --success-color: #{$success-color-dark};
  --success-text-color: #{$success-text-color-dark};
  --success-hovered-color: #{$success-hovered-color-dark};
  --success-color-light: #{$success-color-light-dark};
  --warning-color: #{$warning-color-dark};
  --warning-text-color: #{$warning-text-color-dark};
  --warning-hovered-color: #{$warning-hovered-color-dark};
  --warning-color-light: #{$warning-color-light-dark};
  --error-color: #{$error-color-dark};
  --error-text-color: #{$error-text-color-dark};
  --error-hovered-color: #{$error-hovered-color-dark};
  --error-color-light: #{$error-color-light-dark};
  --link-color: #{$link-color-dark};
  --link-text-color: #{$link-text-color-dark};
  --link-hovered-color: #{$link-hovered-color-dark};
  --link-color-light: #{$link-color-light-dark};

  // Base
  --body-bg-color: #{$body-bg-color-dark};
  --body-text-color: #{$body-text-color-dark};
  --text-color-primary: #{$text-color-primary-dark};
  --text-color-secondary: #{$text-color-secondary-dark};
  --text-color-tertiary: #{$text-color-tertiary-dark};
  --divider-color: #{$divider-color-dark};

  // Badge
  --badge-text-color: #{$badge-text-color-dark};

  // Button
  --button-bg-color: #{$button-bg-color-dark};
  --button-border-color: #{$button-border-color-dark};
  --button-hovered-border-color: #{$button-hovered-border-color-dark};
  --button-text-color: #{$button-text-color-dark};
  --button-focus-border-color: #{$button-focus-border-color-dark};

  // Bottom Nav
  --bottom-nav-bg-color: #{$bottom-nav-bg-color-dark};

  // Cards
  --card-bg-color: #{$card-bg-color-dark};
  --card-border-color: #{$card-border-color-dark};

  // Chip
  --chip-bg-color: #{$chip-bg-color-dark};

  // Dialog
  --modal-bg-color: #{$modal-bg-color-dark};

  // Dropdown
  --dropdown-bg-color: #{$dropdown-bg-color-dark};
  --dropdown-border-color: #{$dropdown-border-color-dark};
  --dropdown-text-color: #{$dropdown-text-color-dark};
  --dropdown-option-hovered-color: #{$dropdown-option-hovered-color-dark};

  // Table
  --table-border-color: #{$table-border-color-dark};
  --table-bg-color: #{$table-bg-color-dark};
  --table-hovered-bg-color: #{$table-hovered-bg-color-dark};

  // Input
  --input-bg-color: #{$input-bg-color-dark};
  --input-hovered-bg-color: #{$input-hovered-bg-color-dark};
  --input-text-color: #{$input-text-color-dark};
  --input-border-color: #{$input-border-color-dark};
  --input-placeholder-text-color: #{$input-placeholder-text-color-dark};
  // Input Append
  --input-append-bg-color: #{$input-append-bg-color-dark};
  --input-append-fg-color: #{$input-append-fg-color-dark};

  // Item Disabled
  --item-disabled-bg-color: #{$item-disabled-bg-color-dark};
  --item-disabled-fg-color: #{$item-disabled-fg-color-dark};

  // Slider/Range
  --range-bg-color: #{$range-bg-color-dark};

  // Switch
  --switch-bg-color: #{$switch-bg-color-dark};
  --switch-active-bg-color: #{$switch-active-bg-color-dark};
  --switch-fg-color: #{$switch-fg-color-dark};
  --switch-active-fg-color: #{$switch-active-fg-color-dark};
  // Disabled
  --switch-disabled-bg-color: #{$switch-disabled-bg-color-dark};
  --switch-disabled-fg-color: #{$switch-disabled-fg-color-dark};

  // Progress Bar
  --progress-back-bg-color: #{$progress-back-bg-color-dark};
  --progress-back-text-color: #{$progress-back-text-color-dark};
  --progress-bar-bg-color: #{$progress-bar-bg-color-dark};
  --progress-bar-text-color: #{$progress-bar-text-color-dark};

  // Radio Buttons
  --radio-button-border-color: #{$radio-button-border-color-dark};
  --radio-button-selected-border-color: #{$radio-button-selected-border-color-dark};
  --radio-button-disabled-border-color: #{$radio-button-disabled-border-color-dark};

  // Tooltip
  --tooltip-bg-color: #{$tooltip-bg-color-dark};
  --tooltip-text-color: #{$tooltip-text-color-dark};

  // Misc.
  --dimmer-bg-color: #{$dimmer-bg-color-dark};
  --light-color: #{$light-color-dark};
  --text-color-inverted: #{$text-color-inverted-dark};
  --bg-color-inverted: #{$bg-color-inverted-dark};
}
