// Screen Sizes
$tablet: 769px;
$desktop: 1024px;

// Text Sizes
$xlarge-text: x-large;
$large-text: larger;
$medium-text: medium;
$small-text: small;

// Button
$button-corner-radius: 6px;

// z-indexs
$dropdown-z-index: 5;
$dialog-z-index: 10;
$tooltip-z-index: 9999;

// Misc; Don't change them
$corner-radius-full: 999999px;
$primary-transition: 0.2s;
$secondary-transition: 0.5s;
