// Boleans
$css-variable-enabled: true;

// Screen Sizes as of Chrome Dev Tools
$tablet: 768px;
$desktop: 1024px;

// Text Sizes
$xlarge-text: 2.2rem !default;
$large-text: 1.6rem !default;
$medium-text: 1rem !default;
$small-text: 0.8rem !default;

// z-indexs
$bottom-nav-z-index: 6 !default;
$dropdown-z-index: 5 !default;
$dialog-z-index: 20 !default;
$tooltip-z-index: 9999 !default;

// Misc; Don't change them
$corner-radius-full: 999999px;
$primary-transition: 0.2s !default;
$secondary-transition: 0.5s !default;

// Badge
$badge-corner-radius: 6px !default;
$padding-first: 10px;
$padding-second: 5px;
$badge-only-part-color: var(--primary-color) !default;
$badge-only-part-text-color: white !default;
$badge-first-part-color: rgba(144, 144, 144, 0.1) !default;
$badge-first-part-text-color: var(--badge-text-color) !default;
$badge-last-part-color: var(--primary-color) !default;
$badge-last-part-text-color: $white !default;
$badge-text-size: $small-text !default;

// Button
$button-corner-radius: 6px !default;
$button-border-width: 2px !default;
$button-border-spread: 4px !default;

// Dropdown
$dropdown-animation-duration: 0.3s !default;
$dropdown-margin: 13px !default;
$dropdown-child-margin: 20px !default;
$dropdown-translate: 10px !default;
$dropdown-shadow: 0 3px 12px rgba(27, 31, 35, 0.04) !default;
//$dropdown-shadow: 0 0 $transparent !default;
$dropdown-border-radius: 12px !default;
$dropdown-item-border-radius: 10px !default;

// Input
$input-border-radius: 8px !default;
$input-border-spread: 2px !default;

// Tooltip
$tooltip-margin: 10px;
$tooltip-translate: 20px;

$variables: (
  // Text Sizes
  --xlarge-text: $xlarge-text,
  --large-text: $large-text,
  --medium-text: $medium-text,
  --small-text: $small-text,

  // z-indexs
  --bottom-nav-z-index: $bottom-nav-z-index,
  --dropdown-z-index: $dropdown-z-index,
  --dialog-z-index: $dialog-z-index,
  --tooltip-z-index: $tooltip-z-index,

  // Badge
  --badge-corner-radius: $badge-corner-radius,
  --badge-only-part-color: $badge-only-part-color,
  --badge-only-part-text-color: $badge-only-part-text-color,
  --badge-first-part-color: $badge-first-part-color,
  --badge-first-part-text-color: $badge-first-part-text-color,
  --badge-last-part-color: $badge-last-part-color,
  --badge-last-part-text-color: $badge-last-part-text-color,
  --badge-text-size: $badge-text-size,

  // Button
  --button-corner-radius: $button-corner-radius,
  --button-border-width: $button-border-width,
  --button-border-spread: $button-border-spread,

  // Dropdown
  --dropdown-animation-duration: $dropdown-animation-duration,
  --dropdown-margin: $dropdown-margin,
  --dropdown-child-margin: $dropdown-child-margin,
  --dropdown-translate: $dropdown-translate,
  --dropdown-shadow: $dropdown-shadow,
  --dropdown-border-radius: $dropdown-border-radius,
  --dropdown-item-border-radius: $dropdown-item-border-radius,
);
