// Boleans
$css-variable-enabled: false !default;

//==//-----------//==//
//==//  General  //==//
//==//-----------//==//

// Screen Breakpoint Sizes as of Chrome Dev Tools
$tablet: 768px !default;
$desktop: 1024px !default;

$default-breakpoints: (
  (mobile, null, $tablet - 1px),
  (touch, null, $desktop - 1px),
  (tablet, $tablet, $desktop - 1px),
  (desktop, $desktop, null)
);

$custom-breakpoints: () !default;

$breakpoints: join($default-breakpoints, $custom-breakpoints);

$breakpoint-names: getListItems($breakpoints, 1);

// Text Sizes
$xlarge-text: 2.2rem !default;
$large-text: 1.6rem !default;
$medium-text: 1rem !default;
$small-text: 0.8rem !default;

// z-indexes
$bottom-nav-z-index: 6 !default;
$dropdown-z-index: 5 !default;
$modal-z-index: 20 !default;
$tooltip-z-index: 9999 !default;

// Transition
$primary-transition: 0.2s !default;
$secondary-transition: 0.5s !default;



//==//-----------//==//
//==//  Elements //==//
//==//-----------//==//

// Button
$button-border-radius: 6px !default;
$button-border-width: 2px !default;
$button-border-spread: 4px !default;

// Icon
$icon-size-small: 0.8rem !default;
$icon-size-default: 1.2rem !default;
$icon-size-large: 1.6rem !default;
$icon-size-xlarge: 2rem !default;

// Progress Bar
$progress-bar-border-radius: 6px !default;

// Table
$table-border-width: 2px !default;

// Tooltip
$tooltip-margin: 10px;
$tooltip-translate: 20px;



//==//-----------//==//
//==//   Form    //==//
//==//-----------//==//

// Input
$input-border-radius: 8px !default;
$input-border-spread: 2px !default;

// Select
$select-border-radius: $input-border-radius !default;
$select-border-spread: $input-border-spread !default;

// Textarea
$textarea-border-radius: 8px !default;



//==//------------//==//
//==// Components //==//
//==//------------//==//

// Badge
$badge-border-radius: 6px !default;
$badge-only-part-color: var(--primary-color) !default;
$badge-only-part-text-color: white !default;
$badge-first-part-color: rgba(144, 144, 144, 0.1) !default;
$badge-first-part-text-color: var(--badge-text-color) !default;
$badge-last-part-color: var(--primary-color) !default;
$badge-last-part-text-color: $white !default;

// Cards
$card-border-radius: 10px !default;

// Dropdown
$dropdown-animation-duration: 0.3s !default;
$dropdown-margin: 13px !default;
$dropdown-child-margin: 20px !default;
$dropdown-translate: 10px !default;
$dropdown-shadow: 0 3px 12px rgba(27, 31, 35, 0.04) !default;
//$dropdown-shadow: 0 0 $transparent !default;
$dropdown-border-radius: 12px !default;
$dropdown-item-border-radius: 10px !default;



//==//--------------//==//
//==// Theme Colors //==//
//==//--------------//==//

// Status Colors
$status-colors: (
  // $name, $color, $text-color, $hovered-color, $light-color
  (primary, var(--primary-color), var(--primary-text-color), var(--primary-hovered-color), var(--primary-color-light)),
  (success, var(--success-color), var(--success-text-color), var(--success-hovered-color), var(--success-color-light)),
  (warning, var(--warning-color), var(--warning-text-color), var(--warning-hovered-color), var(--warning-color-light)),
  (error, var(--error-color), var(--error-text-color), var(--error-hovered-color), var(--error-color-light)),
  (link, var(--link-color), var(--link-text-color), var(--link-hovered-color), var(--link-color-light))
);

// Custom Color's List. User will made it by themself.
$custom-colors: () !default;

$item-colors: join($status-colors, $custom-colors);
