.dimmer {
  z-index: 9;
  background-color: var(--dimmer-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s, visibility 0s ease 0.5s;

  &.zust--visible {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease 0.1s, visibility 0s ease 0s;
  }
}
