.site-footer {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 20px;
  background-color: var(--light-color);
  font-family: 'Lexend', sans-serif !important;
  padding: 10px 30px;
  font-size: 14px;

  * {
    font-family: 'Lexend', sans-serif !important;
  }
}
