span.zust-badge {
  @extend %no-select;
  display: inline-block;
  $padding: 4px;
  $extra: 4px;
  padding: $padding ($padding + $extra) $padding ($padding + $extra);

  @if $css-variable-enabled {
    border-radius: var(--badge-corner-radius);
    background-color: var(--badge-only-part-color);
    color: var(--badge-only-part-text-color);
    transition: var(--secondary-transition);
  } @else {
    border-radius: $badge-corner-radius;
    background-color: $badge-only-part-color;
    color: $badge-only-part-text-color;
    transition: $secondary-transition;
  }
}

div.zust-badge {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 8px;
  white-space: nowrap;

  span {
    @extend %no-select;
    padding: 4px;
    margin: 0px;

    @if $css-variable-enabled {
      transition: var(--secondary-transition);
    } @else {
      transition: $secondary-transition;
    }
  }

  span:only-of-type {
    @extend %no-select;
    $padding: 4px;
    $extra: 4px;
    padding: $padding ($padding + $extra) $padding ($padding + $extra);

    @if $css-variable-enabled {
      border-radius: var(--badge-corner-radius);
      background-color: var(--badge-only-part-color);
      color: var(--badge-only-part-text-color);
    } @else {
      border-radius: $badge-corner-radius;
      background-color: $badge-only-part-color;
      color: $badge-only-part-text-color;
    }
  }

  span:first-child:not(:only-of-type) {
    padding-left: $padding-first;
    padding-right: $padding-second;

    @if $css-variable-enabled {
      border-radius: var(--badge-corner-radius) 0 0 var(--badge-corner-radius);
      background-color: var(--badge-first-part-color);
      color: var(--badge-first-part-text-color);
    } @else {
      border-radius: $badge-corner-radius 0 0 $badge-corner-radius;
      background-color: $badge-first-part-color;
      color: $badge-first-part-text-color;
    }
  }

  span:last-child:not(:only-of-type) {
    padding-right: $padding-first;
    padding-left: $padding-second;

    @if $css-variable-enabled {
      border-radius: 0 var(--badge-corner-radius) var(--badge-corner-radius) 0;
      background-color: var(--badge-last-part-color);
      color: var(--badge-last-part-text-color);
    } @else {
      border-radius: 0 $badge-corner-radius $badge-corner-radius 0;
      background-color: $badge-last-part-color;
      color: $badge-last-part-text-color;
    }
  }

  &.zust-rounded {
    span:first-child:not(:only-of-type) {
      border-radius: 9999px 0 0 9999px;
    }

    span:last-child:not(:only-of-type) {
      border-radius: 0 9999px 9999px 0;
    }
  }
}
