.zust-bottom-nav  {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  background-color: var(--bottom-nav-bg-color);
  height: 70px;
  width: 100%;
  $radius: 14px;
  border-radius: $radius $radius 0 0;
  align-items: center;
  justify-content: space-around;
  z-index: $bottom-nav-z-index;

  .zust-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;

    a span, span {
      transition: 0.2s;
      @extend %no-select;
      font-size: 14px;
      color: var(--text-color-primary);
      margin-top: 4px;
    }

    a {
      width: 18px;
      height: 18px;
    }

    a .zust-icon, .zust-icon {
      font-size: 18px;
      margin-top: 0;
    }

    input[type="radio"]:checked {
      & ~ span, & ~ a span {
        font-size: 15px;
        color: var(--primary-color);
      }

      & ~ .zust-icon, & ~ a .zust-icon {
        font-size: 20px;
      }
    }

    input {
      display: none;
    }
  }

  &.zust-max-content .zust-item {
    a span, span {
      font-size: 0;
      opacity: 0;
      transition-timing-function: linear;
    }

    a .zust-icon, .zust-icon {
      font-size: 18px;
      margin-bottom: 0;
      opacity: 1;
    }

    input[type="radio"]:checked {
      & ~ span, & ~ a span {
        font-size: 15px;
        color: var(--primary-color);
        opacity: 1;
      }

      & ~ .zust-icon, & ~ a .zust-icon {
        font-size: 20px;
        margin-bottom: 4px;
      }
    }
  }
}
