.zust-dialog, .zust-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  background-color: var(--dimmer-bg-color);
  transition: all 0.3s ease-in-out 0s, visibility 0s linear $secondary-transition;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: $dialog-z-index;

  > .zust-content {
    background-color: var(--dialog-bg-color);
    //padding: 20px;
    overflow: hidden;
    color: var(--text-color-secondary);
    border-radius: 14px;
    transform: scale(0.8) rotateX(0deg);
    transition: transform 1s, background-color 0.3s, opacity 0.2s;
    opacity: 0;
    margin: 15px;
    max-width: 400px;
    max-height: 90%;
    font-size: 15px;

    hr[divider] {
      margin: 0;
      border-color: grey;
      border-width: 1px;
      opacity: 0.2;
    }

    > header {
      background-color: var(--dialog-bg-color);
      display: flex;
      align-items: center;
      margin: 20px;
      margin-bottom: 10px;

      > img {
        height: 50px;
        width: 50px;
        margin-right: 15px;
      }

      > h1, h2, h3, h4, h5, h6 {
        display: inline-block;
        margin: 0;
      }

      > .zust-icon {
        margin-right: 15px;
        $size: 50px;
        height: $size;
        width: $size;

        svg {
          height:  $size;
          width: $size;
        }

        i {
          font-size: $size;
        }
      }

      > .zust-close-button {
        position: absolute;
        right: 0;
        margin-top: 15px;
        transform: translate(-50%, -50%);
        padding: 8px !important;

        .zust-icon {
          margin: 0 !important;
        }
      }
    }

    > div {
      padding: 0 20px;
      max-height: 400px;
      overflow: auto;

      @include mobile {
        max-height: 300px;
      }
    }

    > footer {
      padding: 10px;
      background-color: var(--dialog-bg-color);

      > .zust-button {
        float: right;
        margin-bottom: 15px;
      }
    }
  }

  &.zust-active {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out 0.1s, visibility 0s linear;

    > .zust-content {
      transform: scale(1) rotateX(0deg);
      opacity: 1;
      transition: transform 0.5s, background-color 0.3s, opacity 0.5s;
    }
  }

  &.zust-large > .zust-content {
    @include desktop {
      max-width: 600px;
    }
  }

  &.zust-xlarge > .zust-content {
    @include desktop {
      max-width: 800px;
    }
  }

  &.zust-full > .zust-content {
    @include desktop {
      max-width: 98%;
      max-height: 98%;
      margin: 5px;
    }

    > div {
      @include desktop {
        max-height: 450px;
      }
    }
  }
}
