$dropdown-animation-duration: 0.3s;
$dropdown-margin: 13px;
$dropdown-child-margin: 20px;
$dropdown-translate: 10px;

.zust-dropdown {
  position: relative;

  &:focus-within > .zust-items,
  &.zust-hover:hover > .zust-items,
  &.zust-active > .zust-items {
    transition: all 0.2s ease-in-out 0.1s, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
    transform: none;
  }

  .zust-items {
    position: absolute;
    list-style: none;
    border-style: solid;
    border-width: 2px;
    border-color: var(--dropdown-border-color);
    visibility: hidden;
    opacity: 0;
    border-radius: 12px;
    background-color: var(--dropdown-bg-color);
    position: absolute;
    z-index: $dropdown-z-index;
    transition: all 0.2s ease-in-out 0s, visibility 0s linear 0.3s;
    padding: 10px;
    font-size: 15px;
    height: fit-content;
    width: 150px;
    top: 100%;
    left: 0;
    bottom: auto;
    margin: 0;
    margin-top: $dropdown-margin - 4px;
    margin-left: 5px;
    transform: translateY($dropdown-translate);

    p {
      text-align: left;
    }

    li {
      position: relative;
      @extend %no-select;
      list-style: none;
      padding: 10px;
      text-align: center;
      border-radius: 10px;
      margin: 4px;
      transition: background-color 0.5s;

      &:hover, &.zust-hovered {
        background-color: var(--dropdown-option-hover-color);

        & > ul {
          transition: all 0.2s ease-in-out 0.1s, visibility 0s linear 0s;
          visibility: visible;
          opacity: 1;
          transform: none;
        }
      }

      &[active], &.zust-active {
        background-color: var(--primary-color);

        &:hover, &.zust-hovered {
          background-color: var(--primary-color-l);
        }
      }

      ul {
        position: absolute;
        top: 0;
        left: 100%;
        width: 150px;
        padding: 10px;
        margin: 0;
        margin-left: $dropdown-child-margin;
        border-style: solid;
        border-width: 2px;
        border-color: var(--dropdown-border-color);
        visibility: hidden;
        opacity: 0;
        border-radius: 12px;
        background-color: var(--dropdown-bg-color);
        z-index: $dropdown-z-index;
        transition: all 0.2s ease-in-out 0s, visibility 0s linear 0.3s;
        font-size: 15px;
        height: fit-content;
        transform: translateX($dropdown-translate);

        // Sizes
        &.zust-narrow {
          width: 50px !important;
        }

        &.zust-small {
          width: 100px !important;
        }

        &.zust-large {
          width: 200px !important;
        }

        &.zust-xlarge {
          width: 300px !important;
        }
      }

      // Sizes
      &.zust-narrow > ul {
        width: 50px !important;
      }

      &.zust-small > ul {
        width: 100px !important;
      }

      &.zust-large > ul {
        width: 200px !important;
      }

      &.zust-xlarge > ul {
        width: 300px !important;
      }
    }
  }

  // Upside
  &.zust-upside > .zust-items {
    top: auto !important;
    bottom: 100%;
    margin: 0;
    margin-bottom: $dropdown-margin - 4px;
    margin-left: 5px;
    transform: translateY( - $dropdown-translate);
  }

  // Leftside
  &.zust-leftside > .zust-items {
    top: 0 !important;
    left: 100%;
    margin: 0;
    margin-left: $dropdown-margin - 4px;
    margin-top: 5px;
    transform: translateX( - $dropdown-translate);
  }

  // Sizes
  &.zust-narrow > .zust-items {
    width: 50px !important;
  }

  &.zust-small > .zust-items {
    width: 100px !important;
  }

  &.zust-large > .zust-items {
    width: 200px !important;
  }

  &.zust-xlarge > .zust-items {
    width: 300px !important;
  }
}
