.#{$prefix}dropdown {
  position: relative;
  display: inline-block;

  &:not(.#{$prefix}center-aligned) {

    &:focus-within > .#{$prefix}items,
    &.#{$prefix}hover:hover > .#{$prefix}items,
    &.#{$prefix}active > .#{$prefix}items {
      transition: all 0.2s ease-in-out 0.1s, visibility 0s linear 0s;
      visibility: visible !important;
      opacity: 1 !important;
      transform: none !important;
    }
  }

  &.#{$prefix}left-aligned > .#{$prefix}items {
    left: 0 !important;
    right: auto !important;
  }

  &.#{$prefix}right-aligned > .#{$prefix}items {
    left: auto !important;
    right: 0 !important;
  }

  &.#{$prefix}center-aligned.#{$prefix}upside {
    > .#{$prefix}items {
      left: 50%;
      transform: translate(-50%, - $dropdown-translate) !important;
      @if $css-variable-enabled {
        transform: translate(-50%, calc(0px - var(--dropdown-translate))) !important;
      } @else {
        transform: translate(-50%, - $dropdown-translate) !important;
      }
    }

    &:focus-within > .#{$prefix}items,
    &.#{$prefix}hover:hover > .#{$prefix}items,
    &.#{$prefix}active > .#{$prefix}items {
      transition: all 0.2s ease-in-out 0.1s, visibility 0s linear 0s;
      visibility: visible !important;
      opacity: 1 !important;
      transform: translate(-50%, 0) !important;
    }
  }

  &.#{$prefix}center-aligned:not(.#{$prefix}upside) {
    > .#{$prefix}items {
      left: 50%;
      @if $css-variable-enabled {
        transform: translate(-50%, var(--dropdown-translate)) !important;
      } @else {
        transform: translate(-50%, $dropdown-translate) !important;
      }
    }

    &:focus-within > .#{$prefix}items,
    &.#{$prefix}hover:hover > .#{$prefix}items,
    &.#{$prefix}active > .#{$prefix}items {
      transition: all 0.2s ease-in-out 0.1s, visibility 0s linear 0s;
      visibility: visible !important;
      opacity: 1 !important;
      transform: translate(-50%, 0) !important;
    }
  }

  .#{$prefix}items {
    top: 100%;
    left: 0;
    bottom: auto;
    margin: 0;
    margin-left: 5px;
    box-sizing: content-box;
    @if $css-variable-enabled {
      margin-top: calc(var(--dropdown-margin) - 4px);
      transform: translateY($dropdown-translate);
      border-radius: var(--dropdown-border-radius);
      z-index: var(--dropdown-z-index);
      box-shadow: var(--dropdown-shadow);
    } @else {
      margin-top: $dropdown-margin - 4px;
      transform: translateY($dropdown-translate);
      border-radius: $dropdown-border-radius;
      z-index: $dropdown-z-index;
      box-shadow: $dropdown-shadow;
    }

    position: absolute;
    list-style: none;
    border-style: solid;
    border-width: 2px;
    border-color: var(--dropdown-border-color);
    visibility: hidden;
    opacity: 0;
    background-color: var(--dropdown-bg-color);
    position: absolute;
    transition: all 0.2s ease-in-out 0s, visibility 0s linear 0.3s;
    padding: 10px;
    font-size: 15px;
    height: fit-content;
    width: 150px;

    .#{$prefix}center-aligned & {
      @if $css-variable-enabled {
        transform: translateY(var(--dropdown-translate));
      } @else {
        transform: translateY($dropdown-translate);
      }
    }

    // Sizes
    &.#{$prefix}narrow {
      width: 50px !important;
    }

    &.#{$prefix}small {
      width: 100px !important;
    }

    &.#{$prefix}large {
      width: 200px !important;
    }

    &.#{$prefix}xlarge {
      width: 300px !important;
    }

    p {
      text-align: left;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    li {
      position: relative;
      @extend %no-select;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--text-color-secondary);
      list-style: none;
      padding: 10px;
      text-align: center;
      margin: 4px;
      transition: background-color 0.5s;
      box-sizing: content-box;
      @if $css-variable-enabled {
        border-radius: var(--dropdown-item-border-radius);
      } @else {
        border-radius: $dropdown-item-border-radius;
      }

      &:hover, &.#{$prefix}hovered {
        background-color: var(--dropdown-option-hovered-color);

        > ul {
          transition: all 0.2s ease-in-out 0.1s, visibility 0s linear 0s;
          visibility: visible !important;
          opacity: 1 !important;
          transform: none !important;
        }
      }

      &[active], &.#{$prefix}active {
        background-color: var(--primary-color);
        color: $white;

        &:hover, &.#{$prefix}hovered {
          background-color: var(--primary-hovered-color);
        }
      }

      ul {
        position: absolute;
        top: 0;
        left: 100%;
        margin: 0;
        padding: 10px;
        width: 150px;
        border-style: solid;
        border-width: 2px;
        border-color: var(--dropdown-border-color);
        visibility: hidden;
        opacity: 0;
        background-color: var(--dropdown-bg-color);
        transition: all 0.2s ease-in-out 0s, visibility 0s linear 0.3s;
        font-size: 15px;
        height: fit-content;
        box-sizing: content-box;
        @if $css-variable-enabled {
          margin-left: var(--dropdown-child-margin);
          transform: translateX(var(--dropdown-translate));
          border-radius: var(--dropdown-border-radius);
          z-index: var(--dropdown-z-index);
          box-shadow: var(--dropdown-shadow);
        } @else {
          margin-left: $dropdown-child-margin;
          transform: translateX($dropdown-translate);
          border-radius: $dropdown-border-radius;
          z-index: $dropdown-z-index;
          box-shadow: $dropdown-shadow;
        }
      }

      // Sizes
      &.#{$prefix}narrow > ul {
        width: 50px !important;
      }

      &.#{$prefix}small > ul {
        width: 100px !important;
      }

      &.#{$prefix}large > ul {
        width: 200px !important;
      }

      &.#{$prefix}xlarge > ul {
        width: 300px !important;
      }
    }
  }

  // Upside
  &.#{$prefix}upside {
    > .#{$prefix}items {
      top: auto;
      bottom: 100%;
      margin: 0;
      margin-left: 5px;
      @if $css-variable-enabled {
        margin-bottom: calc(var(--dropdown-margin) - 4px);
        transform: translateY(calc(0px - var(--dropdown-translate)));
      } @else {
        margin-bottom: $dropdown-margin - 4px;
        transform: translateY( - $dropdown-translate);
      }
    }

    li ul {
      bottom: 0 !important;
      top: auto !important;
      @if $css-variable-enabled {
        margin-right: var(--dropdown-child-margin);
      } @else {
        margin-right: $dropdown-child-margin;
      }
    }
  }

  // Nested Dropdown Upside
  .#{$prefix}upside > ul {
    bottom: 0 !important;
    top: auto !important;
  }

  // All Nested
  .#{$prefix}nested-upside ul {
    bottom: 0 !important;
    top: auto !important;
  }

  // Down Side
  // Nested Dropdown Downside
  .#{$prefix}downside > ul {
    top: 0 !important;
    bottom: auto !important;
  }

  // All Nested
  .#{$prefix}nested-downside ul {
    top: 0 !important;
    bottom: auto !important;
  }

  // Rightside
  &.#{$prefix}rightside > .#{$prefix}items {
    top: 0 !important;
    left: 100% !important;
    right: auto !important;
    margin: 0;
    margin-top: 5px !important;
    @if $css-variable-enabled {
      margin-left: calc(var(--dropdown-margin) - 4px);
      transform: translateX(var(--dropdown-translate)) !important;
    } @else {
      margin-left: $dropdown-margin - 4px;
      transform: translateX($dropdown-translate) !important;
    }
  }

  // Nested Dropdown Rightside
  .#{$prefix}rightside > ul {
    left: 100% !important;
    right: auto !important;
    margin: 0 !important;
    margin-top: 5px !important;
    @if $css-variable-enabled {
      margin-left: var(--dropdown-child-margin) !important;
      transform: translateX(var(--dropdown-translate)) !important;
    } @else {
      margin-left: $dropdown-child-margin !important;
      transform: translateX($dropdown-translate) !important;
    }
  }

  // All Nested
  .#{$prefix}nested-rightside ul {
    left: 100% !important;
    right: auto !important;
    margin: 0 !important;
    margin-top: 5px !important;
    @if $css-variable-enabled {
      margin-left: var(--dropdown-child-margin) !important;
      transform: translateX(var(--dropdown-translate)) !important;
    } @else {
      margin-left: $dropdown-child-margin !important;
      transform: translateX($dropdown-translate) !important;
    }
  }

  // Leftside
  &.#{$prefix}leftside > .#{$prefix}items {
    top: 0;
    right: 100%;
    left: auto;
    margin: 0;
    margin-top: 5px;
    @if $css-variable-enabled {
      margin-right: calc(var(--dropdown-margin) - 4px);
      transform: translateX(calc(0px - var(--dropdown-translate)));
    } @else {
      margin-right: $dropdown-margin - 4px;
      transform: translateX( - $dropdown-translate);
    }

    li ul {
      left: auto !important;
      right: 100% !important;
      @if $css-variable-enabled {
        margin-right: var(--dropdown-child-margin) !important;
        transform: translateX(calc(0px - var(--dropdown-translate))) !important;
      } @else {
        margin-right: $dropdown-child-margin !important;
        transform: translateX( - $dropdown-translate) !important;
      }
    }
  }

  // Nested Dropdown Leftside
  .#{$prefix}leftside > ul {
    left: auto !important;
    right: 100% !important;
    @if $css-variable-enabled {
      margin-right: var(--dropdown-child-margin) !important;
      transform: translateX(calc(0px - var(--dropdown-translate))) !important;
    } @else {
      margin-right: $dropdown-child-margin !important;
      transform: translateX( - $dropdown-translate) !important;
    }
  }

  // All Nested
  .#{$prefix}nested-leftside ul {
    left: auto !important;
    right: 100% !important;
    @if $css-variable-enabled {
      margin-right: var(--dropdown-child-margin) !important;
      transform: translateX(calc(0px - var(--dropdown-translate))) !important;
    } @else {
      margin-right: $dropdown-child-margin !important;
      transform: translateX( - $dropdown-translate) !important;
    }
  }

  // Sizes
  &.#{$prefix}narrow > .#{$prefix}items {
    width: 50px !important;
  }

  &.#{$prefix}small > .#{$prefix}items {
    width: 100px !important;
  }

  &.#{$prefix}large > .#{$prefix}items {
    width: 200px !important;
  }

  &.#{$prefix}xlarge > .#{$prefix}items {
    width: 300px !important;
  }
}
