.#{$prefix}modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  background-color: var(--dimmer-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  @if $css-variable-enabled {
    z-index: var(--modal-z-index);
    transition: all 0.3s ease-in-out 0s, visibility 0s linear var(--modal-transition);
  } @else {
    z-index: $modal-z-index;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear $modal-transition;
  }

  > .#{$prefix}content {
    background-color: var(--modal-bg-color);
    overflow: hidden;
    color: var(--text-color-secondary);
    transform: scale(0.8);
    transition: transform 1s, background-color 0.3s, opacity 0.2s;
    opacity: 0;
    font-size: 15px;
    $pos: 20px;
    $pos2: 400px;
    display: flex;
    flex-direction: column;
    max-height: calc(100% - #{$pos} * 2);
    max-width: calc(100% - #{$pos2} * 2);
    min-width: calc(100% - #{$pos2} * 2);
    position: relative;
    @if $css-variable-enabled {
      border-radius: var(--modal-border-radius);
    } @else {
      border-radius: $modal-border-radius;
    }

    @include until-large {
      max-height: calc(100% - #{$pos} * 2) !important;
      max-width: calc(100% - #{$pos} * 2) !important;
      min-width: calc(100% - #{$pos} * 2) !important;
    }

    hr[divider] {
      margin: 0;
      border-color: grey;
      border-width: 1px;
      opacity: 0.2;
    }

    > header {
      background-color: var(--modal-bg-color);
      display: flex;
      align-items: center;
      margin: 20px;
      margin-bottom: 10px;
      position: relative;

      > img {
        height: 50px;
        width: 50px;
        margin-right: 15px;
      }

      > h1, h2, h3, h4, h5, h6 {
        display: inline-block;
        margin: 0;
      }

      > .#{$prefix}icon {
        margin-right: 15px;
        --icon-size: 50px;
      }

      > .#{$prefix}close-btn {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 8px !important;
        margin: 0 !important;

        .#{$prefix}icon {
          margin: 0 !important;
          --icon-size: 1.1rem;
        }
      }
    }

    > div {
      padding: 10px 20px 20px 20px;
      overflow: auto;
    }

    > footer {
      padding: 10px;
      background-color: var(--modal-bg-color);
      display: block;
      width: 100%;

      > .#{$prefix}btn {
        float: right;
      }
    }
  }

  &.#{$prefix}active {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out 0.1s, visibility 0s linear;

    > .#{$prefix}content {
      transform: scale(1) translateY(0);
      opacity: 1;
      transition: transform 0.5s, background-color 0.3s, opacity 0.5s;
    }
  }

  &.#{$prefix}large > .#{$prefix}content {
    max-width: calc(100% - 200px * 2);
    min-width: calc(100% - 200px * 2);
  }

  &.#{$prefix}xlarge > .#{$prefix}content {
    max-width: calc(100% - 80px * 2);
    min-width: calc(100% - 80px * 2);
  }

  &.#{$prefix}full > .#{$prefix}content {
    max-width: calc(100% - 20px * 2);
    min-width: calc(100% - 20px * 2);
    max-height: calc(100% - 20px * 2);
    min-height: calc(100% - 20px * 2);

    > div {
      margin-bottom: 66px;
    }

    > footer {
      position: absolute;
      bottom: 0;
    }
  }
}
