@if $css-variable-enabled {
  $navbar-border-bottom-width: var(--navbar-border-bottom-width);
  $navbar-shadow: var(--navbar-shadow);
  $navbar-z-index: var(--navbar-z-index);
  $navbar-selected-indicator-height: var(--navbar-selected-indicator-height);
  $primary-transition: var(--primary-transition);
}

@mixin option-pseudo {
  &:after, &:before {
    content: "";
    width: 100%;
    left: 50%;
    position: absolute;
    bottom: 0;
    transition: $primary-transition;
    transform: translateX(-50%) translateZ(-1px);
  }

  &:after {
    height: 100%;
    opacity: 0.1;
  }

  &:before {
    height: $navbar-selected-indicator-height;
  }
}

.#{$prefix}navbar {
  background-color: var(--navbar-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  border-bottom-style: solid;
  border-color: $transparent;
  border-width: 0px;
  transition: $primary-transition;
  z-index: $navbar-z-index;
  box-shadow: $navbar-shadow;

  @include large {
    display: flex;
    flex-wrap: nowrap;
  }

  &.#{$prefix}flat {
    box-shadow: 0 0 $transparent;
    border-width: $navbar-border-bottom-width;
    border-color: var(--light-color);
  }

  &.#{$prefix}right-aligned .#{$prefix}content {
    justify-content: flex-end;
  }

  .#{$prefix}header {
    display: inline-flex;
    margin-left: 20px;
    align-items: center;
    font-size: 24px;
    height: 100%;
    flex: none;
    width: auto;
    padding: 10px;

    > img {
      height: 40px;
      width: auto;
    }

    > span {
      margin-left: 10px;
    }

    @include until-large {
      display: flex;
    }

    .#{$prefix}menu-btn {
      display: none;

      @include until-large {
        display: inline-flex;
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 !important;
      }
    }
  }

  .#{$prefix}content {
    display: inline-block;

    @include large {
      display: inline-flex;
      justify-content: space-between;
      width: 100%;
    }

    .#{$prefix}options {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-left: 30px;

      @include until-large {
        top: 0;
        bottom: 0;
      }

      > * {
        padding: 0 14px;
        height: 100%;
        align-items: center;

        @include large {
          &:last-child {
            margin-right: 20px;
          }
        }
      }

      > a:not(.#{$prefix}btn) {
        display: inline-flex;
        justify-content: stretch;
        transform-style: preserve-3d;
        position: relative;
        color: var(--text-color-tertiary);
        border-style: none;
        user-select: none;

        @include large {
          @include option-pseudo;
        }

        &:hover, &.#{$prefix}hovered, &:focus, &.#{$prefix}focused {
          color: var(--navbar-item-hovered-color);

          &:after {
            opacity: 0.05;
            background-color: var(--navbar-selected-item-color);
          }
        }

        &.#{$prefix}selected, &[selected] {
          color: var(--navbar-selected-item-color);
          cursor: default;

          &:after, &:before {
            background-color: var(--navbar-selected-item-color);
          }
        }
      }

      > .#{$prefix}dropdown {
        > .#{$prefix}btn {
          height: 100%;
          margin: 0 !important;
          border-style: none;
          color: var(--text-color-tertiary);
          background-color: $transparent !important;
          padding: 0 !important;

          @include large {
            @include option-pseudo;
          }

          &:hover, &.#{$prefix}hovered, &:focus, &.#{$prefix}focused {
            color: var(--navbar-item-hovered-color);
            box-shadow: 0 0 black;

            &:after {
              opacity: 0.05;
              background-color: var(--navbar-selected-item-color);
            }
          }
        }

        &.#{$prefix}selected > .#{$prefix}btn, &[selected] > .#{$prefix}btn {
          color: var(--navbar-selected-item-color);

          &:after, &:before {
            background-color: var(--navbar-selected-item-color);
          }
        }
      }
    }

    .#{$prefix}actions {
      display: inline-flex;
      align-items: center;

      @include until-large {
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
      }

      button {
        margin: {
          top: 0 !important;
          bottom: 0 !important;
        }
      }
    }

    @include until-large {
      visibility: hidden;
      opacity: 0;
      display: flex;
      flex-direction: column;
      background-color: var(--navbar-bg-color);
      position: absolute;
      left: 0;
      right: 0;
      margin-top: 10px;
      border-bottom-style: solid;
      border-width: 2px;
      border-color: var(--light-color);
      @if $css-variable-enabled {
        transition: var(--primary-transition);
      } @else {
        transition: $primary-transition;
      }

      > .#{$prefix}options {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: static;
        margin-left: 0;
        margin-bottom: 30px;
        margin-top: 10px;

        > * {
          margin-left: 0;
          padding: 10px;
          padding-left: 20px;
          width: 100%;

          &.#{$prefix}selected, &[selected] {
            background-color: var(--navbar-selected-item-bg-color);
            color: var(--navbar-selected-item-text-color) !important;
          }

          &.#{$prefix}selected.#{$prefix}dropdown > .#{$prefix}btn, &[selected].#{$prefix}dropdown > .#{$prefix}btn {
            color: var(--navbar-selected-item-text-color) !important;
          }

          &.#{$prefix}dropdown {
            padding: 0;

            > .#{$prefix}btn {
              padding: 10px !important;
              padding-left: 20px !important;
              width: 100%;
              justify-content: flex-start;
            }
          }
        }
      }

      > .#{$prefix}actions {
        position: static;
        transform: none;
        margin-bottom: 10px;
        padding-left: 14px;
      }
    }
  }

  &.#{$prefix}expanded {
    border-color: $transparent;

    > .#{$prefix}content {
      visibility: visible;
      opacity: 1;
    }

    &:not(.#{$prefix}flat) {
      > .#{$prefix}content {
        @include until-large {
          box-shadow: $navbar-shadow;
        }
      }
    }
  }
}
