$input-border-radius: 8px !default;

[type="text"].zust-input, [type="date"].zust-input {
  appearance: none;
  transition: $primary-transition;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 2px;
  border-radius: $input-border-radius;
  border-color: $transparent;
  color: var(--input-text-color);
  font-size: $medium-text;
  margin: 4px;
  $padding1: 7px;
  $padding2: 20px;
  padding-top: 9px;
  padding-bottom: $padding1;
  padding-left: $padding2;
  padding-right: $padding2;
  background-color: var(--input-bg-color);

  ~ .zust-icon {
    $size: 18px !important;
    height: $size;
    width: $size;

    svg {
      height:  $size;
      width: $size;
    }

    i {
      font-size: $size;
    }

    &.zust-left {
      position: absolute;
      top: 0;
      left: 0;
      margin-right: 0;
      margin-top: 14px;
      margin-left: 16px;
    }

    &.zust-right {
      position: absolute;
      top: 0;
      right: 0;
      margin-left: 0;
      margin-top: 14px;
      margin-right: 16px;
    }
  }

  &::placeholder {
    color: var(--input-placeholder-text-color);
  }

  $expadding: 35px;

  &.zust-with-icon-left {
    padding-left: $expadding;
  }

  &.zust-with-icon-right {
    padding-right: $expadding;
  }

  &.zust-with-icon-both {
    padding-right: $expadding;
    padding-left: $expadding;
  }

  &:hover, &.zust-hovered {
    background-color: var(--input-hovered-bg-color);
  }

  &:focus, &.zust-focused {
    background-color: var(--body-color-primary);
    box-shadow: 0 0 0 2px var(--input-border-color);
  }

  &.zust-small {
    font-size: $small-text;
    $padding1: 4px;
    $padding2: 14px;
    padding-top: $padding1 + 2px;
    padding-bottom: $padding1;
    padding-left: $padding2;
    padding-right: $padding2;

    ~ .zust-icon {
      $size: 12px !important;
      height: $size;
      width: $size;

      svg {
        height:  $size;
        width: $size;
      }

      i {
        font-size: $size;
      }

      &.zust-left {
        position: absolute;
        top: 0;
        left: 0;
        margin-right: 0;
        margin-top: 12px;
        margin-left: 12px;
      }

      &.zust-right {
        position: absolute;
        top: 0;
        right: 0;
        margin-left: 0;
        margin-top: 12px;
        margin-right: 12px;
      }
    }

    $expadding: 25px;

    &.zust-with-icon-left {
      padding-left: $expadding;
    }

    &.zust-with-icon-right {
      padding-right: $expadding;
    }

    &.zust-with-icon-both {
      padding-right: $expadding;
      padding-left: $expadding;
    }
  }

  &.zust-large {
    font-size: $large-text;
    $padding1: 12px;
    $padding2: 24px;
    padding-top: $padding1 + 2px;
    padding-bottom: $padding1;
    padding-left: $padding2;
    padding-right: $padding2;

    ~ .zust-icon {
      $size: 24px !important;
      height: $size;
      width: $size;

      svg {
        height:  $size;
        width: $size;
      }

      i {
        font-size: $size;
      }

      &.zust-left {
        position: absolute;
        top: 0;
        left: 0;
        margin-right: 0;
        margin-top: 22px;
        margin-left: 18px;
      }

      &.zust-right {
        position: absolute;
        top: 0;
        right: 0;
        margin-left: 0;
        margin-top: 22px;
        margin-right: 18px;
      }
    }

    $expadding: 45px;

    &.zust-with-icon-left {
      padding-left: $expadding;
    }

    &.zust-with-icon-right {
      padding-right: $expadding;
    }

    &.zust-with-icon-both {
      padding-right: $expadding;
      padding-left: $expadding;
    }
  }

  &.zust-xlarge {
    font-size: $xlarge-text;
    $padding1: 16px;
    $padding2: 28px;
    padding-top: $padding1 + 2px;
    padding-bottom: $padding1;
    padding-left: $padding2;
    padding-right: $padding2;

    ~ .zust-icon {
      $size: 36px !important;
      height: $size;
      width: $size;

      svg {
        height:  $size;
        width: $size;
      }

      i {
        font-size: $size;
      }

      &.zust-left {
        position: absolute;
        top: 0;
        left: 0;
        margin-right: 0;
        margin-top: 25px;
        margin-left: 17px;
      }

      &.zust-right {
        position: absolute;
        top: 0;
        right: 0;
        margin-left: 0;
        margin-top: 25px;
        margin-right: 17px;
      }
    }

    $expadding: 55px;

    &.zust-with-icon-left {
      padding-left: $expadding;
    }

    &.zust-with-icon-right {
      padding-right: $expadding;
    }

    &.zust-with-icon-both {
      padding-right: $expadding;
      padding-left: $expadding;
    }
  }

  &.zust-transparent {
    background-color: var(--input-stransparent-bg-color);

    &:hover, &.zust-hovered {
      background-color: var(--input-stransparent-hovered-bg-color);
    }

    &:focus, &.zust-focused {
      background-color: var(--body-color-primary);
    }
  }

  &.zust-primary {
    border-color: var(--primary-color);

    &:focus, &.zust-focused {
      border-color: $transparent;
      box-shadow: 0 0 0 2px var(--primary-color);
    }

    &.zust-readonly, &[readonly] {
      &:focus, &.zust-focused {
        box-shadow: 0 0 0 1px var(--primary-color);
      }
    }
  }

  // Disabled
  &.zust-disabled, &[disabled] {
    background-color: var(--input-disabled-bg-color);
    color: var(--input-disabled-text-color);

    &::placeholder {
      color: var(--input-disabled-text-color);
    }

    ~ .zust-icon {

      svg {
        color: var(--input-disabled-text-color);
      }

      i {
        color: var(--input-disabled-text-color);
      }
    }
  }

  // Readonly
  &.zust-readonly, &[readonly] {

    &:hover, &.zust-hovered {
      background-color: var(--input-bg-color);
    }

    &:focus, &.zust-focused {
      background-color: var(--input-bg-color);
      box-shadow: 0 0 0 1px var(--input-border-color);
    }
  }

  &.zust-success {
    border-color: var(--success-color);

    &:focus, &.zust-focused {
      border-color: $transparent;
      box-shadow: 0 0 0 2px var(--success-color-l);
    }

    &.zust-readonly, &[readonly] {
      &:focus, &.zust-focused {
        box-shadow: 0 0 0 1px var(--success-color-l);
      }
    }
  }

  &.zust-warning {
    border-color: var(--warning-color);

    &:focus, &.zust-focused {
      border-color: $transparent;
      box-shadow: 0 0 0 2px var(--warning-color-l);
    }

    &.zust-readonly, &[readonly] {
      &:focus, &.zust-focused {
        box-shadow: 0 0 0 1px var(--warning-color-l);
      }
    }
  }

  &.zust-error {
    border-color: var(--error-color);

    &:focus, &.zust-focused {
      border-color: $transparent;
      box-shadow: 0 0 0 2px var(--error-color-l);
    }

    &.zust-readonly, &[readonly] {
      &:focus, &.zust-focused {
        box-shadow: 0 0 0 1px var(--error-color-l);
      }
    }
  }

  &.zust-link {
    border-color: var(--link-color);

    &:focus, &.zust-focused {
      border-color: $transparent;
      box-shadow: 0 0 0 2px var(--link-color-l);
    }

    &.zust-readonly, &[readonly] {
      &:focus, &.zust-focused {
        box-shadow: 0 0 0 1px var(--link-color-l);
      }
    }
  }
}

// In Container
.zust-input-container {
  margin: 0;
  display: inline-flex;
  position: relative;
}

input, input:hover, input:active, input:focus {
  outline: none;
}
