.zust-range {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--range-bg-color);
  height: 5px;
  border-radius: 9999px;

  @if $css-variable-enabled {
    transition: var(--primary-transition);
  } @else {
    transition: $primary-transition;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--primary-color);
    height: 18px;
    width: 18px;
    border-radius: 6px;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--primary-color);
    height: 18px;
    width: 18px;
    border-radius: 6px;
    cursor: pointer;
  }

  &.zust-rounded {
    &::-webkit-slider-thumb {
      border-radius: 999999px;
    }

    &::-moz-range-thumb {
      border-radius: 999999px;
    }
  }

  &.zust-disabled, &[disabled] {
    background-color: var(--item-disabled-bg-color);

    &::-webkit-slider-thumb {
      background-color: var(--item-disabled-fg-color);
      cursor: default;
    }

    &::-moz-range-thumb {
      background-color: var(--item-disabled-fg-color);
      cursor: default;
    }
  }

  // Colors
  @each $name, $color in $item-colors {
    &.zust-#{$name} {
      &::-webkit-slider-thumb {
        background-color: $color;
      }

      &::-moz-range-thumb {
        background-color: $color;
      }
    }
  }
}
