.zust-range {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--slider-bg-color);
  height: 5px;
  border-radius: $corner-radius-full;
  transition: $primary-transition;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--primary-color);
    height: 18px;
    width: 18px;
    border-radius: 6px;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--primary-color);
    height: 18px;
    width: 18px;
    border-radius: 6px;
    cursor: pointer;
  }

  &.zust-rounded {
    &::-webkit-slider-thumb {
      border-radius: 999999px;
    }

    &::-moz-range-thumb {
      border-radius: 999999px;
    }
  }

  &.zust-disabled, &[disabled] {
    background-color: var(--input-disabled-bg-color);

    &::-webkit-slider-thumb {
      background-color: var(--input-disabled-text-color);
      cursor: default;
    }

    &::-moz-range-thumb {
      background-color: var(--input-disabled-text-color);
      cursor: default;
    }
  }

  // Colors
  @each $name, $color in $item-colors {
    &.zust-#{$name} {
      &::-webkit-slider-thumb {
        background-color: $color;
      }

      &::-moz-range-thumb {
        background-color: $color;
      }
    }
  }
}
