.zust-switch {
  position: relative;
  display: inline-block;
  margin: 2px;
  width: 60px;
  height: 34px;

  &.zust-gummy {
    &:active {
      input:not(:checked) ~ span:before {
        width: 56px;
        box-shadow: 0 0 0 0 !important;
      }
      input:checked ~ span:before {
        width: 56px;
        transform: translateX(0);
        box-shadow: 0 0 0 0 !important;
      }
    }
  }

  &:active > span:before {
    transition: all 0.4s, box-shadow 0.2s 0.3s;
    box-shadow: 0 0 0 10px rgba(144, 144, 144, 0.3);
  }

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked {
      + span {
        background-color: var(--switch-active-fg-color);
        filter: brightness(1.2);

        &:before {
          background-color: var(--switch-active-fg-color);
          filter: brightness(0.8);
          transform: translateX(26px);
        }
      }
    }
  }

  input + span {
    position: absolute;
    cursor: pointer;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background-color: var(--switch-bg-color);
    transition: 0.4s;
    border-radius: 99999px;

    &:before {
      position: absolute;
      content: "";
      height: 28px;
      width: 28px;
      left: -6px;
      bottom: -3px;
      background-color: var(--switch-fg-color);
      transition: all 0.4s;
      border-radius: 99999px;
    }
  }

  @each $name, $color in $item-colors {
    &.zust-#{$name} {
      input:checked {
        + span {
          background-color: $color;

          &:before {
            background-color: $color;
            transform: translateX(26px);
          }
        }
      }
    }
  }

  &.zust-disabled, &[disabled] {
    input:checked {
      + span {
        background-color: var(--switch-disabled-bg-color);
        filter: brightness(1);

        &:before {
          background-color: var(--switch-disabled-fg-color);
          transform: translateX(0);
          filter: brightness(1);
        }
      }
    }

    span {
      cursor: default;
      background-color: var(--switch-disabled-bg-color);

      &:before {
        background-color: var(--switch-disabled-fg-color);
      }
    }
  }
}
