textarea.zust-textarea {
  appearance: none;
  padding: 8px 10px;
  transition: $primary-transition;
  background-color: var(--input-bg-color);
  color: var(--input-text-color);
  border-width: 0;
  border-radius: $textarea-border-radius;
  border-bottom-width: 2px;
  border-color: $transparent;
  font-size: $medium-text;

  &:hover, &.zust-hovered {
    background-color: var(--input-hovered-bg-color);
  }

  &:focus, &.zust-focused {
    background-color: var(--body-color-primary);
    box-shadow: 0 0 0 $input-border-spread var(--input-border-color);
  }

  &::placeholder {
    color: var(--input-placeholder-text-color);
  }

  &.zust-disabled, &[disabled] {
    background-color: var(--input-disabled-bg-color);
    color: var(--input-disabled-text-color);

    &::placeholder {
      color: var(--input-disabled-text-color);
    }
  }

  &.zust-transparent {
    background-color: var(--input-stransparent-bg-color);

    &:hover, &.zust-hovered {
      background-color: var(--input-stransparent-hovered-bg-color);
    }

    &:focus, &.zust-focused {
      background-color: var(--body-color-primary);
    }
  }

  @each $name, $color, $skip, $hovered-color in $item-colors {
    &.zust-#{$name} {
      border-color: $color;

      &:focus, &.zust-focused {
        border-color: $transparent;
        box-shadow: 0 0 0 $input-border-spread $hovered-color;
      }
    }
  }
}

textarea, textarea:hover, textarea:active, textarea:focus {
  outline: none;
}
