@import "./../../../scss/core/var-only.scss";
@import "imports/navbar.scss";
@import "imports/footer.scss";
@import "imports/worker-toast";

@import "imports/editor/base.scss";
@import "imports/editor/theme.scss";
@import "imports/editor/themed.scss";

@import "/resources/fonts.css";

body {
  padding-top: 70px;
  font-family: 'Varela Round', sans-serif;

  @include large {
    padding-top: 90px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

button, select {
  font-family: 'Varela Round', sans-serif;
}

h3 {
  font-family: 'Lexend', sans-serif;
  font-weight: normal;
}

.CodeMirror {
  border-radius: 10px;
}

pre {
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 5px;
}

code {
  font-family: 'Consolas', monospace;
  font-size: 14px;
}

.site-footer {
  margin-top: 60px;
}

.downloadBtn {
  margin-left: 20px;

  @include small {
    margin-left: 0px;
    margin-top: 10px;
  }

  > span:first-child {
    opacity: 0;
    transform: scale(0);
    transition: 0.3s;
  }

  > span:last-child {
    transform: translateX(-10px);
    transition: 0.3s;
  }

  &.loading {
    > span:first-child {
      opacity: 1;
      transform: scale(1);
    }

    > span:last-child {
      padding-left: 20px;
    }
  }
}
