include ../../_mixins

div.socialize
  hr.h(divider)
  h3 Get involved
  a.zust-btn.zust-custom.zust-bg-github(class='zust-fullwidth@until-large' href='https://github.com/sarsamurmu/zusty' rel='noopener' target='_blank')
    span.zust-icon
      span.fa.fa-star
    span Star it on GitHub
  a.zust-btn.zust-custom(class='zust-fullwidth@until-large' style='background-color: #7289DA' rel='noopener' target='_blank' href='https://discord.gg/cVDFTjt')
    span.zust-icon
      span.fab.fa-discord
    span Join us on Discord
  br
  h3 Help us by sharing
  a.zust-btn.zust-custom(class='zust-fullwidth@until-large' style='background-color: #FF4500' rel='noopener' target='_blank' href='https://www.reddit.com/submit?url=https%3A%2F%2Fzustycss.com&title=Zusty%20CSS%20-%20Power%20Packed%20CSS%20Framework%20for%20Building%20Beautiful%20Interfaces.%20Try%20it%20Now.')
    span.zust-icon
      span.fab.fa-reddit
    span Reddit Post
  a.zust-btn.zust-custom.zust-bg-twitter(class='zust-fullwidth@until-large' rel='noopener' target='_blank' href='https://twitter.com/intent/tweet?text=Zusty+CSS+-+Power+Packed+CSS+Framework+for+Building+Beautiful+Interfaces.+Try+it+Now.&url=https://zustycss.com&related=sarsamurmu')
    span.zust-icon
      span.fab.fa-twitter
    span Tweet
br

+footer
