include ../../_mixins.pug
div.docs-sponsor-main
  hr.h(divider)
  .docs-sponsor-container
    //-div Sponsor
    p.zust-text-center Get involved in improving Zusty CSS.
    a(href="https://github.com/sarsamurmu/zusty/issues/new?template=bug_report.md").zust-btn.zust-fullwidth Report a Bug
    a(href="https://github.com/sarsamurmu/zusty/issues/new?template=feature_request.md").zust-btn.zust-fullwidth Feature Request
    br 
    br
    p If you liked Zusty CSS, Then please
    a(href=`../../support${htmlExt}`).zust-btn.zust-link.zust-fullwidth.zust-link
      | Support Us
  //-hr(divider)
