.#{$prefix}btn {
  @extend %no-select;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-bg-color);
  border-style: solid;
  border-color: var(--button-border-color);
  padding: 8px 12px;
  color: var(--button-text-color);
  margin: 5px;
  text-align: center;
  text-decoration: none;

  @if $css-variable-enabled {
    border-radius: var(--button-border-radius);
    border-width: var(--button-border-width);
    font-size: var(--medium-text);
    transition: var(--primary-transition);
  } @else {
    border-radius: $button-border-radius;
    border-width: $button-border-width;
    font-size: $medium-text;
    transition: $primary-transition;
  }


  // Important
  &.#{$prefix}icon-btn {
    padding: 8px !important;

    .#{$prefix}icon {
      margin: 0 !important;
    }
  }

  .#{$prefix}icon {
    margin: 0;
    --icon-size: 1rem;

    &:first-child:not(:last-child):not(:only-child) {
      margin-right: 0.3em;
      margin-left: -0.2em;
    }

    &:last-child:not(:first-child):not(:only-child) {
      margin-right: -0.2em;
      margin-left: 0.3em;
    }
  }

  &.#{$prefix}floating {
    border-width: 0;
    box-shadow: 0px 1px 4px 0px var(--button-shadow-color);

    &:hover, &.#{$prefix}hovered, &:focus, &.#{$prefix}focused {
      transform: translateY(-2px);
    }
  }

  &:hover, &.#{$prefix}hovered, input:checked + & {
    border-color: var(--button-hovered-border-color);
    //color: var(--button-text-color);
  }

  &:focus, &.#{$prefix}focused {
    border-color: var(--button-focus-border-color);
    @if $css-variable-enabled {
      box-shadow: 0 0 0 var(--button-border-spread) var(--button-focus-border-color);
    } @else {
      box-shadow: 0 0 0 $button-border-spread var(--button-focus-border-color);
    }
  }

  &[disabled] {
    pointer-events: none;
    cursor: default !important;
    opacity: 0.6;
  }

  &.#{$prefix}transparent {
    background-color: $transparent !important;
    border-width: 0 !important;

    &:hover, &.#{$prefix}hovered, input:checked + & {
      background-color: rgba(144, 144, 144, 0.1) !important;
      box-shadow: 0 0 0 0px rgba(144, 144, 144, 0.1) !important;
    }

    &:focus, &.#{$prefix}focused {
      background-color: $transparent;
    }
  }

  &.#{$prefix}custom, .#{$prefix}btns-custom > & {
    background-color: $transparent;
    border-width: 0;
    color: $white;

    &.#{$prefix}floating {
      box-shadow: 0px 2px 3px 0px var(--button-shadow-color);
    }

    &:focus, &.#{$prefix}focused {
      @if $css-variable-enabled {
        box-shadow: 0 0 0 var(button-border-spread) rgba(144, 144, 144, 0.15);
      } @else {
        box-shadow: 0 0 0 $button-border-spread rgba(144, 144, 144, 0.15);
      }
    }
  }

  // Colors
  @each $name, $color, $txt-color, $hovered-color, $border-spread-color in $item-colors {
    @if $name {
      &.#{$prefix}#{$name} {
        border-width: 0 !important;
        background-color: $color !important;
        color: $txt-color;

        &:hover, &.#{$prefix}hovered, input:checked + & {
          background-color: $hovered-color !important;
        }

        &:focus, &.#{$prefix}focused {
          @if $css-variable-enabled {
            box-shadow: 0 0 0 var(--button-border-spread) $border-spread-color !important;
          } @else {
            box-shadow: 0 0 0 $button-border-spread $border-spread-color !important;
          }
        }
      }

      &.#{$prefix}floating.#{$prefix}#{$name} {
        box-shadow: 0px 2px 3px 1px $border-spread-color;
      }
    }
  }

  &.#{$prefix}full-width, &.#{$prefix}fullwidth, .#{$prefix}btns-full-width > &:not(.#{$prefix}ignored), .#{$prefix}btns-fullwidth > &:not(.#{$prefix}ignored) {
    @extend %full-width;
  }

  &.#{$prefix}xlarge, .#{$prefix}btns-xlarge > &:not(.#{$prefix}ignored) {
    font-size: $xlarge-text !important;
    padding: 18px 27px !important;

    &.#{$prefix}icon-btn {
      padding: 18px !important;
    }

    .#{$prefix}icon {
      --icon-size: 1.9rem;
    }
  }

  &.#{$prefix}large, .#{$prefix}btns-large > &:not(.#{$prefix}ignored) {
    font-size: $large-text !important;
    padding: 14px 21px !important;

    &.#{$prefix}icon-btn {
      padding: 14px !important;
    }

    .#{$prefix}icon {
      --icon-size: 1.4rem;
    }
  }

  &.#{$prefix}default {
    width: max-content !important;
    height: max-content !important;
    font-size: $medium-text !important;
    padding: 8px 12px !important;
  }

  &.#{$prefix}small, .#{$prefix}small > &:not(.#{$prefix}ignored) {
    font-size: $small-text !important;
    padding: 4px 12px !important;

    &.#{$prefix}icon-btn {
      padding: 4px !important;
    }

    .#{$prefix}icon {
      --icon-size: 0.8rem;
    }
  }

  &.#{$prefix}outlined, .#{$prefix}btns-outlined > & {
    background-color: $transparent !important;

    @if $css-variable-enabled {
      border-width: var(--button-outlined-border-width) !important;
    } @else {
      border-width: $button-outlined-border-width !important;
    }

    &:hover, &.#{$prefix}hovered {
      background-color: $transparent !important;
    }
  }


  @each $name, $color, $skip, $hovered-color in $item-colors {
    @if $name {
      &.#{$prefix}outlined.#{$prefix}#{$name} {
        border-color: $color !important;
        color: $color;

        &:hover, &.#{$prefix}hovered {
          border-color: $hovered-color !important;
        }
      }
    }
  }
}

.#{$prefix}toggle-btn {
  input[type="checkbox"], input[type="radio"] {
    display: none;
  }

  input:checked + .#{$prefix}btn {
    filter: brightness(0.9);
  }

  .#{$prefix}el-group > & {
    > .#{$prefix}btn {
      margin: 0 !important;
    }
  }
}
