.zust-button {
  @extend %no-select;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: $medium-text;
  background-color: var(--button-bg-color);
  border-style: solid;
  border-color: var(--button-border-color);
  border-radius: $button-corner-radius;
  padding: 8px 12px;
  color: var(--button-text-color);
  border-width: $button-border-width;
  margin: 5px;
  cursor: pointer;
  transition: $primary-transition;
  text-align: center;


  // Important
  &.zust-icon-button {
    padding: 8px !important;

    .zust-icon {
      margin: 0 !important;
    }
  }

  .zust-icon {
    margin: 0;
    margin-right: 0.3em;
    margin-left: 0.3em;
    //margin-top: -0.05em;
  }

  &:hover, &.zust-hovered {
    border-color: var(--button-hover-border-color);
    color: var(--button-text-color);
  }

  &:focus, &.zust-focused {
    box-shadow: 0 0 0 3px var(--button-focus-border-color);
    border-color: var(--button-focus-border-color);
  }

  &.disabled, &[disabled], &.disbled:hover, &[disbled]:hover, &.disbled:focus, &[disbled]:focus {
    cursor: default !important;
    background-color: var(--button-disabled-bg-color) !important;
    color: var(--button-disabled-text-color) !important;
    border-style: none;
    box-shadow: 0 0 0 0px var(--button-disabled-bg-color) !important;
  }

  &.zust-transparent {
    background-color: $transparent !important;
    border-width: 0 !important;

    &:hover, &.zust-hovered {
      background-color: rgba(144, 144, 144, 0.1) !important;
      box-shadow: 0 0 0 0px rgba(144, 144, 144, 0.1) !important;
    }

    &:focus, &.zust-focused {
      background-color: $transparent;
    }
  }

  &.zust-primary {
    background-color: var(--primary-color);
    border-width: 0;
    color: $white;
  }

  @each $name, $color, $hover-color, $focus-color, $txt-color in  (warning, --warning-color, --warning-color-l, --warning-color-el, $grey-shade-9),
                                                                  (error, --error-color, --error-color-l, --error-color-el, $white),
                                                                  (success, --success-color, --success-color-l, --success-color-el, $white),
                                                                  (link, --link-color, --link-color-l, --link-color-el, $white) {
    &.zust-#{$name} {
      border-width: 0 !important;
      background-color: var($color) !important;
      color: $txt-color;

      &:hover, &.zust-hovered {
        background-color: var($hover-color) !important;
      }

      &:focus, &.zust-focused {
        box-shadow: 0 0 0 3px var($focus-color) !important;
      }
    }
  }

  &.zust-full-width, &.zust-fullwidth {
    @extend %full-width;
  }

  &.zust-xlarge {
    font-size: $xlarge-text !important;
    padding: 18px 27px !important;

    &.zust-icon-button {
      padding: 18px !important;

      .zust-icon {
        margin: 0 !important;

        i {
          font-size: $xlarge-text !important;
        }
      }
    }
  }

  &.zust-large {
    font-size: $large-text !important;
    padding: 14px 21px !important;

    &.zust-icon-button {
      padding: 14px !important;

      .zust-icon {
        margin: 0 !important;

        i {
          font-size: $large-text !important;
        }
      }
    }
  }

  &.zust-default {
    width: max-content !important;
    font-size: $medium-text !important;
    padding: 8px 12px !important;

    &.zust-icon-button {
      padding: 8px !important;

      .zust-icon {
        margin: 0 !important;

        i {
          font-size: $medium-text !important;
        }
      }
    }
  }

  &.zust-small {
    font-size: $small-text !important;
    padding: 4px 12px !important;

    &.zust-icon-button {
      padding: 4px !important;

      .zust-icon {
        margin: 0 !important;

        i {
          font-size: $small-text !important;
        }
      }
    }
  }

  &.zust-outlined {
    background-color: $transparent !important;
    border-width: 2px !important;
  }

  @each $name, $color, $hover-color in  (warning, --warning-color, --warning-color-l),
                                        (error, --error-color, --error-color-l),
                                        (success, --success-color, --success-color-l),
                                        (link, --link-color, --link-color-l) {
    &.zust-outlined.zust-#{$name} {
      border-color: var($color) !important;
      background-color: $transparent !important;
      color: var($color);

      &:hover, &.zust-hovered {
        border-color: var($hover-color) !important;
        background-color: $transparent !important;
      }
    }
  }
}

.zust-group {
  .zust-button {
    @extend %no-select;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: $medium-text;
    background-color: var(--button-bg-color);
    border-style: solid;
    border-color: var(--button-border-color);
    border-radius: $button-corner-radius;
    padding: 8px 12px;
    color: var(--button-text-color);
    border-width: $button-border-width;
    margin: 5px;
    cursor: pointer;
    transition: $primary-transition;
    text-align: center;

    &:hover, &.zust-hovered {
      border-color: var(--button-hover-border-color);
    }

    &:focus, &.zust-focused {
      box-shadow: 0 0 0 3px var(--button-focus-border-color);
      border-color: var(--button-focus-border-color);
    }
  }

  &.zust-left .zust-button {
    float: left;
  }

  &.zust-right .zust-button {
    float: right;
  }

  &.zust-buttons-xlarge > .zust-button:not(.zust-default):not(.zust-small):not(.zust-large):not(.zust-xlarge) {
    font-size: $xlarge-text;
    padding: 18px 27px;
  }

  &.zust-buttons-large > .zust-button:not(.zust-default):not(.zust-small):not(.zust-large):not(.zust-xlarge)  {
    font-size: $large-text;
    padding: 14px 21px;
  }

  &.zust-buttons-small > .zust-button:not(.zust-default):not(.zust-small):not(.zust-large):not(.zust-xlarge) {
    font-size: $small-text;
    padding: 4px 12px;
  }

  &.zust-buttons-fullwidth .zust-button, &.zust-buttons-full-width .zust-button {
    @extend %full-width;
  }
}

button, button:hover, button:focus, button:active, [type="submit"], [type="reset"] {
  outline: none;
}
