.zust-btn {
  @extend %no-select;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-bg-color);
  border-style: solid;
  border-color: var(--button-border-color);
  padding: 8px 12px;
  color: var(--button-text-color);
  margin: 5px;
  cursor: pointer;
  text-align: center;

  @if $css-variable-enabled {
    border-radius: var(--button-corner-radius);
    border-width: var(--button-border-width);
    font-size: var(--medium-text);
    transition: var(--primary-transition);
  } @else {
    border-radius: $button-corner-radius;
    border-width: $button-border-width;
    font-size: $medium-text;
    transition: $primary-transition;
  }


  // Important
  &.zust-icon-btn {
    padding: 8px !important;

    .zust-icon {
      margin: 0 !important;
    }
  }

  .zust-icon {
    margin: 0;
    --icon-size: 1rem;

    &:first-child:not(:last-child):not(:only-child) {
      margin-right: 0.3em;
      margin-left: -0.2em;
    }

    &:last-child:not(:first-child):not(:only-child) {
      margin-right: -0.2em;
      margin-left: 0.3em;
    }
  }

  &:hover, &.zust-hovered {
    border-color: var(--button-hover-border-color);
    color: var(--button-text-color);
  }

  &:focus, &.zust-focused {
    border-color: var(--button-focus-border-color);
    @if $css-variable-enabled {
      box-shadow: 0 0 0 var(--button-border-spread) var(--button-focus-border-color);
    } @else {
      box-shadow: 0 0 0 $button-border-spread var(--button-focus-border-color);
    }
  }

  &.disabled, &[disabled], &.disbled:hover, &[disbled]:hover, &.disbled:focus, &[disbled]:focus {
    cursor: default !important;
    background-color: var(--button-disabled-bg-color) !important;
    color: var(--button-disabled-text-color) !important;
    border-style: none;
    box-shadow: 0 0 0 0px var(--button-disabled-bg-color) !important;
  }

  &.zust-transparent {
    background-color: $transparent !important;
    border-width: 0 !important;

    &:hover, &.zust-hovered {
      background-color: rgba(144, 144, 144, 0.1) !important;
      box-shadow: 0 0 0 0px rgba(144, 144, 144, 0.1) !important;
    }

    &:focus, &.zust-focused {
      background-color: $transparent;
    }
  }

  &.zust-custom {
    background-color: $transparent;
    border-width: 0;
    color: $white;

    &:focus, &.zust-focused {
      @if $css-variable-enabled {
        box-shadow: 0 0 0 var(button-border-spread) rgba(144, 144, 144, 0.15);
      } @else {
        box-shadow: 0 0 0 $button-border-spread rgba(144, 144, 144, 0.15);
      }
    }
  }

  // Colors
  @each $name, $color, $txt-color, $hovered-color, $border-spread-color in $item-colors {
    &.zust-#{$name} {
      border-width: 0 !important;
      background-color: $color !important;
      color: $txt-color;

      &:hover, &.zust-hovered {
        background-color: $hovered-color !important;
      }

      &:focus, &.zust-focused {
        @if $css-variable-enabled {
          box-shadow: 0 0 0 var(--button-border-spread) $border-spread-color !important;
        } @else {
          box-shadow: 0 0 0 $button-border-spread $border-spread-color !important;
        }
      }
    }
  }

  &.zust-full-width, &.zust-fullwidth {
    @extend %full-width;
  }

  &.zust-xlarge {
    font-size: $xlarge-text !important;
    padding: 18px 27px !important;

    &.zust-icon-btn {
      padding: 18px !important;
    }

    .zust-icon {
      --icon-size: 1.9rem;
    }
  }

  &.zust-large {
    font-size: $large-text !important;
    padding: 14px 21px !important;

    &.zust-icon-btn {
      padding: 14px !important;
    }

    .zust-icon {
      --icon-size: 1.4rem;
    }
  }

  &.zust-default {
    width: max-content !important;
    font-size: $medium-text !important;
    padding: 8px 12px !important;

    &.zust-icon-btn {
      padding: 8px !important;
    }

    .zust-icon {
      --icon-size: 1rem;
    }
  }

  &.zust-small {
    font-size: $small-text !important;
    padding: 4px 12px !important;

    &.zust-icon-btn {
      padding: 4px !important;
    }

    .zust-icon {
      --icon-size: 0.8rem;
    }
  }

  &.zust-outlined {
    background-color: $transparent !important;
    border-width: 2px !important;

    &:hover, &.zust-hovered {
      background-color: $transparent !important;
    }
  }


  @each $name, $color, $skip, $hovered-color in $item-colors {
    &.zust-outlined.zust-#{$name} {
      border-color: $color !important;
      color: $color;

      &:hover, &.zust-hovered {
        border-color: $hovered-color !important;
      }
    }
  }

  &.zust-loading {
    position: relative;
    min-height: 36px;
    min-width: 90px;
    pointer-events: none;
    --spinner-height: 20px;

    &:after {
      position: absolute;
      display: block;
      content: '';
      width: var(--spinner-height);
      height: var(--spinner-height);
      border-radius: calc(var(--spinner-height) / 3);
      background-color: currentColor;
      animation: zust-spinner 1s infinite;
    }
  }
}

.zust-group {
  .zust-btn {
    @extend %no-select;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button-bg-color);
    border-style: solid;
    border-color: var(--button-border-color);
    padding: 8px 12px;
    color: var(--button-text-color);
    margin: 5px;
    cursor: pointer;
    text-align: center;

    @if $css-variable-enabled {
      border-radius: var(--button-corner-radius);
      border-width: var(--button-border-width);
      font-size: var(--medium-text);
      transition: var(--primary-transition);
    } @else {
      border-radius: $button-corner-radius;
      border-width: $button-border-width;
      font-size: $medium-text;
      transition: $primary-transition;
    }

    &:hover, &.zust-hovered {
      border-color: var(--button-hover-border-color);
    }

    &:focus, &.zust-focused {
      border-color: var(--button-focus-border-color);
      @if $css-variable-enabled {
        box-shadow: 0 0 0 var(--button-border-spread) var(--button-focus-border-color);
      } @else {
        box-shadow: 0 0 0 $button-border-spread var(--button-focus-border-color);
      }
    }
  }

  &.zust-left .zust-btn {
    float: left;
  }

  &.zust-right .zust-btn {
    float: right;
  }

  &.zust-btns-xlarge > .zust-btn:not(.zust-default):not(.zust-small):not(.zust-large):not(.zust-xlarge) {
    font-size: $xlarge-text;
    padding: 18px 27px;
  }

  &.zust-btns-large > .zust-btn:not(.zust-default):not(.zust-small):not(.zust-large):not(.zust-xlarge)  {
    font-size: $large-text;
    padding: 14px 21px;
  }

  &.zust-btns-small > .zust-btn:not(.zust-default):not(.zust-small):not(.zust-large):not(.zust-xlarge) {
    font-size: $small-text;
    padding: 4px 12px;
  }

  &.zust-btns-fullwidth .zust-btn, &.zust-btns-full-width .zust-btn {
    @extend %full-width;
  }
}
