div.zust-chip {
  position: relative;
  background-color: var(--chip-bg-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  padding: 10px 15px;
  border-radius: 10000px;
  font-size: 14px;
  cursor: default;
  margin: 6px;

  @if $css-variable-enabled {
    transition: var(--primary-transition);
  } @else {
    transition: $primary-transition;
  }

  > .zust-icon {
    margin-left: 10px;
    border-radius: 10000px;
    padding: 2px;

    &:hover, &.zust-hovered, &:focus {
      background-color: $stransparent;
    }
  }

  > img {
    float:left;
    $size: 40px;
    height: $size;
    width: $size;
    margin-left: -15px;
    border-radius: 2000px;
    margin-right: 10px;
  }

  &.zust-large {
    height: 30px;
    line-height: 30px;
    font-size: 16px;

    & > img {
      $size: 50px;
      height: $size;
      width: $size;
      margin-left: -20px;
      border-radius: 2000px;
      margin-right: 10px;
    }
  }

  &.zust-small {
    height: 10px;
    line-height: 30px;
    font-size: 12px;
    padding: 10px 10px;

    & > img {
      $size: 30px;
      height: $size;
      width: $size;
      margin-left: -10px;
      border-radius: 2000px;
      margin-right: 5px;
    }

    > .zust-icon {
      margin-left: 6px;
    }
  }
}
