@if $css-variable-enabled {
  $primary-transition: var(--primary-transition);
}

[divider]:not(hr), .#{$prefix}divider {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  transition: $primary-transition;

  &:after, &:before {
    content: '';
    background-color: var(--divider-color);
    height: 4px;
    width: 100%;
    opacity: 0.5;
    border-radius: 100px;
    transition: $primary-transition;
  }

  &:after {
    margin-left: 10px;
  }

  &:before {
    margin-right: 10px;
  }
}
