progress.zust-progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  overflow: hidden;
  padding: 0;
  margin: 5px;
  width: 100%;
  height: 16px;
  color: var(--primary-color);
  background-color: var(--progress-back-bg-color);

  @if $css-variable-enabled {
    border-radius: var(--progress-bar-border-radius);
  } @else {
    border-radius: $progress-bar-border-radius;
  }

  &.zust-line {
    height: 3px;
  }

  &.zust-thin, &.zust-narrow {
    height: 5px;
  }

  &.zust-small {
    height: 12px;
  }

  &.zust-large {
    height: 28px;
  }

  &.zust-xlarge {
    height: 36px;
  }
}

progress.zust-progress::-webkit-progress-bar {
  background-color: var(--progress-back-bg-color);
  @if $css-variable-enabled {
    transition: var(--primary-transition);
  } @else {
    transition: $primary-transition;
  }
}

progress.zust-progress::-moz-progress-bar {
  background-color: var(--progress-bar-bg-color);
  @if $css-variable-enabled {
    border-radius: var(--progress-bar-border-radius);
    transition: var(--primary-transition);
  } @else {
    border-radius: $progress-bar-border-radius;
    transition: $primary-transition;
  }
}

progress[value].zust-progress {

  &::-webkit-progress-value {
    background-color: var(--primary-color);
    @if $css-variable-enabled {
      border-radius: var(--progress-bar-border-radius);
      transition: var(--primary-transition);
    } @else {
      border-radius: $progress-bar-border-radius;
      transition: $primary-transition;
    }
  }

  &::-moz-progress-value {
    background-color: var(--primary-color);
    @if $css-variable-enabled {
      border-radius: var(--progress-bar-border-radius);
      transition: var(--primary-transition);
    } @else {
      border-radius: $progress-bar-border-radius;
      transition: $primary-transition;
    }
  }

  &::-ms-fill {
    background-color: var(--primary-color);
    border: none;
    @if $css-variable-enabled {
      border-radius: var(--progress-bar-border-radius);
      transition: var(--primary-transition);
    } @else {
      border-radius: $progress-bar-border-radius;
      transition: $primary-transition;
    }
  }

  @each $name, $color in $item-colors {
    @if $name {
      &.zust-#{$name} {
        &::-webkit-progress-value {
          background-color: $color;
        }

        &::-moz-progress-value {
          background-color: $color;
        }

        &::-moz-progress-bar {
          background-color: $color;
        }
      }
    }
  }
}
