progress.zust-progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  overflow: hidden;
  padding: 0;
  margin: 5px;
  width: 100%;
  height: 16px;
  border-radius: $progress-bar-corner-radius;
  color: var(--primary-color);
  background-color: var(--progress-back-bg-color);

  &.zust-line {
    height: 3px;
  }

  &.zust-thin, &.zust-narrow {
    height: 5px;
  }

  &.zust-small {
    height: 12px;
  }

  &.zust-large {
    height: 28px;
  }

  &.zust-xlarge {
    height: 36px;
  }
}

progress.zust-progress::-webkit-progress-bar {
    background-color: var(--progress-back-bg-color);
    -webkit-transition: $primary-transition;
    transition: $primary-transition;
}

progress.zust-progress::-moz-progress-bar {
    background-color: var(--progress-bar-bg-color);
    border-radius: $progress-bar-corner-radius;
    -moz-transition: $primary-transition;
    transition: $primary-transition;
}

progress[value].zust-progress {

  &::-webkit-progress-value {
    background-color: var(--primary-color);
    border-radius: $progress-bar-corner-radius;
    -webkit-transition: $primary-transition;
    transition: $primary-transition;
  }

  &::-moz-progress-value {
    background-color: var(--primary-color);
    border-radius: $progress-bar-corner-radius;
    -moz-transition: $primary-transition;
    transition: $primary-transition;
  }

  &::-ms-fill {
    background-color: var(--primary-color);
    transition: $primary-transition;
    border-radius: $progress-bar-corner-radius;
    border: none;
    transition: $primary-transition;
  }

  @each $name, $color in $item-colors {
    &.zust-#{$name} {
      &::-webkit-progress-value {
        background-color: $color;
      }

      &::-moz-progress-value {
        background-color: $color;
      }

      &::-moz-progress-bar {
        background-color: $color;
      }
    }
  }
}
