$selector-text: '&:hover, &:focus, &.#{$prefix}tooltip-active';

[#{$prefix}tooltip] {
  overflow: visible;
  position: relative;

  &:before {
    content: attr(#{$prefix}tooltip);
    display: inline-block;
    width: max-content;
    max-width: 500px;
    background-color: var(--tooltip-bg-color);
    padding: 5px 10px;
    border-radius: 8px;
    position: absolute;
    font-size: 12px;
    color: var(--tooltip-text-color);
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 5px 0px hsla(0, 0%, 0%, 0.08);
    transform: translateX(- $tooltip-translate);
    transition: all 0.3s ease 0s, visibility 0s ease 0.3s;
    @if $css-variable-enabled {
      z-index: var(--tooltip-z-index);
    } @else {
      z-index: $tooltip-z-index;
    }

    @include mobile {
      box-shadow: 0 0 20px 0px hsla(0, 0%, 0%, 0.1);
    }
  }

  @include mobile {
    &:before {
      max-width: 250px;
    }
  }

  &:not([#{$prefix}tooltip-position="left"]):not([#{$prefix}tooltip-position="top"]):not([#{$prefix}tooltip-position="top-left"]):not([#{$prefix}tooltip-position="top-right"]):not([#{$prefix}tooltip-position="bottom"]):not([#{$prefix}tooltip-position="bottom-left"]):not([#{$prefix}tooltip-position="bottom-right"]):before {
    top: auto;
    left: 100%;
    right: auto;
    bottom: auto;
    margin-left: $tooltip-margin;
  }

  #{$selector-text} {
    &:before {
      transition: all 0.3s ease 0.1s, visibility 0s ease 0s;
      visibility: visible;
      opacity: 1;
    }
  }

  &:not([#{$prefix}tooltip-position="top"]):not([#{$prefix}tooltip-position="bottom"]) {
    #{$selector-text} {
      &:before {
        transform: none !important;
      }
    }
  }

  &[#{$prefix}tooltip-position="left"] {
    &:before {
      top: auto;
      left: auto !important;
      right: 100%;
      bottom: auto;
      margin-right: $tooltip-margin;
      transform: translateX($tooltip-translate);
    }
  }

  &[#{$prefix}tooltip-position="top"] {
    &:before {
      top: auto;
      left: 50%;
      right: auto;
      bottom: 100%;
      margin-left: 0 !important;
      margin-bottom: $tooltip-margin;
      transform: translateY($tooltip-translate) translateX(-50%);
    }

    #{$selector-text} {
      &:before {
        transform: translateY(0) translateX(-50%);
      }
    }
  }

  &[#{$prefix}tooltip-position="top-left"] {
    &:before {
      top: auto;
      left: 0;
      right: auto;
      bottom: 100%;
      margin-left: 0 !important;
      margin-bottom: $tooltip-margin;
      transform: translateY($tooltip-translate);
    }
  }

  &[#{$prefix}tooltip-position="top-right"] {
    &:before {
      top: auto;
      left: auto !important;
      right: 0;
      bottom: 100%;
      margin-left: 0 !important;
      margin-bottom: $tooltip-margin;
      transform: translateY($tooltip-translate);
    }
  }

  &[#{$prefix}tooltip-position="bottom"] {
    &:before {
      top: 100%;
      left: 50%;
      right: auto;
      bottom: auto;
      margin-left: 0 !important;
      margin-top: $tooltip-margin;
      transform: translateY(- $tooltip-translate) translateX(-50%);
    }

    #{$selector-text} {
      &:before {
        transform: translateY(0) translateX(-50%);
      }
    }
  }

  &[#{$prefix}tooltip-position="bottom-left"] {
    &:before {
      top: 100%;
      left: 0;
      right: auto;
      bottom: auto;
      margin-left: 0 !important;
      margin-top: $tooltip-margin;
      transform: translateY(- $tooltip-translate);
    }
  }

  &[#{$prefix}tooltip-position="bottom-right"] {
    &:before {
      top: 100%;
      left: auto !important;
      right: 0;
      bottom: auto;
      margin-left: 0 !important;
      margin-top: $tooltip-margin;
      transform: translateY(- $tooltip-translate);
    }
  }

  // Display on Breakpoint
  &[#{$prefix}tooltip-visibility]:before {
    display: none;
  }

  @include each-breakpoint('&[#{$prefix}tooltip-visibility="name"]:before', 'name') {
    display: inline-block;
  }

  @each $name, $color, $txt-color in $item-colors {
    @if $name {
      &[#{$prefix}tooltip-type="#{$name}"] {
        &:before {
          background-color: $color;
          color: $txt-color;
        }
      }
    }
  }
}
