$tooltip-margin: 10px;
$tooltip-translate: 20px;

[zust-tooltip] {
  overflow: visible;
  position: relative;

  &:before {
    content: attr(zust-tooltip);
    z-index: $tooltip-z-index;
    display: inline-block;
    width: max-content;
    max-width: 500px;
    background-color: var(--tooltip-bg-color);
    padding: 5px 10px;
    border-radius: 8px;
    position: absolute;
    font-size: 12px;
    color: var(--text-color-primary);
    visibility: hidden;
    opacity: 0;
    transform: translateX(- $tooltip-translate);
    transition: all 0.3s ease 0s, visibility 0s ease 0.3s;
  }

  @include mobile {
    &:before {
      max-width: 250px;
    }
  }

  &:not([zust-tooltip-position="left"]):not([zust-tooltip-position="top"]):not([zust-tooltip-position="top-left"]):not([zust-tooltip-position="top-right"]):not([zust-tooltip-position="bottom"]):not([zust-tooltip-position="bottom-left"]):not([zust-tooltip-position="bottom-right"]):before {
    top: auto;
    left: 100%;
    right: auto;
    bottom: auto;
    margin-left: $tooltip-margin;
  }

  &:hover, &.zust-hovered, &.zust-active {
    &:before {
      transition: all 0.3s ease 0.1s, visibility 0s ease 0s;
      visibility: visible;
      opacity: 1;
    }
  }

  &:not([zust-tooltip-position="top"]):not([zust-tooltip-position="bottom"]) {
    &:hover, &.zust-hovered, &.zust-active {
      &:before {
        transform: none !important;
      }
    }
  }

  &[zust-tooltip-position="left"] {
    &:before {
      top: auto;
      left: auto !important;
      right: 100%;
      bottom: auto;
      margin-right: $tooltip-margin;
      transform: translateX($tooltip-translate);
    }
  }

  &[zust-tooltip-position="top"] {
    &:before {
      top: auto;
      left: 50%;
      right: auto;
      bottom: 100%;
      margin-left: 0 !important;
      margin-bottom: $tooltip-margin;
      transform: translateY($tooltip-translate) translateX(-50%);
    }

    &:hover, &.zust-hovered, &.zust-active {
      &:before {
        transform: translateY(0) translateX(-50%);
      }
    }
  }

  &[zust-tooltip-position="top-left"] {
    &:before {
      top: auto;
      left: 0;
      right: auto;
      bottom: 100%;
      margin-left: 0 !important;
      margin-bottom: $tooltip-margin;
      transform: translateY($tooltip-translate);
    }
  }

  &[zust-tooltip-position="top-right"] {
    &:before {
      top: auto;
      left: auto !important;
      right: 0;
      bottom: 100%;
      margin-left: 0 !important;
      margin-bottom: $tooltip-margin;
      transform: translateY($tooltip-translate);
    }
  }

  &[zust-tooltip-position="bottom"] {
    &:before {
      top: 100%;
      left: 50%;
      right: auto;
      bottom: auto;
      margin-left: 0 !important;
      margin-top: $tooltip-margin;
      transform: translateY(- $tooltip-translate) translateX(-50%);
    }

    &:hover, &.zust-hovered, &.zust-active {
      &:before {
        transform: translateY(0) translateX(-50%);
      }
    }
  }

  &[zust-tooltip-position="bottom-left"] {
    &:before {
      top: 100%;
      left: 0;
      right: auto;
      bottom: auto;
      margin-left: 0 !important;
      margin-top: $tooltip-margin;
      transform: translateY(- $tooltip-translate);
    }
  }

  &[zust-tooltip-position="bottom-right"] {
    &:before {
      top: 100%;
      left: auto !important;
      right: 0;
      bottom: auto;
      margin-left: 0 !important;
      margin-top: $tooltip-margin;
      transform: translateY(- $tooltip-translate);
    }
  }

  @each $name, $color, $txt-color in  (error, --error-color, $white),
                          (primary, --primary-color, $white),
                          (success, --success-color, $white),
                          (link, --link-color, $white),
                          (warning, --warning-color, $grey-shade-9) {
    &[zust-tooltip-type="#{$name}"] {
      &:before {
        background-color: var($color);
        color: $txt-color;
      }
    }
  }
}
