
// In Container
.zust-form-el {
  margin: 0;
  display: inline-flex;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 8px;
    margin-right: 8px;
  }

  .zust-input {
    margin: 0;
  }

  .zust-el-group > &:not(:first-child):not(:last-child) > {
    .zust-input, .zust-select {
      border-radius: 0;
    }
  }


  .zust-el-group > &:first-child > {
    .zust-input, .zust-select {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .zust-el-group > &:last-child > {
    .zust-input, .zust-select {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &.zust-responsive {
    display: flex;
  }
}
