.#{$prefix}range {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--range-bg-color);

  @if $css-variable-enabled {
    height: var(--range-height);
    border-radius: var(--range-border-radius);
    transition: var(--primary-transition);
  } @else {
    height: $range-height;
    border-radius: $range-border-radius;
    transition: $primary-transition;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--primary-color);
    height: 18px;
    width: 18px;
    border-radius: 6px;
    cursor: pointer;
    border-style: none;

    @if $css-variable-enabled {
      height: var(--range-thumb-height);
      width: var(--range-thumb-width);
      border-radius: var(--range-thumb-border-radius);
    } @else {
      height: $range-thumb-height;
      width: $range-thumb-width;
      border-radius: $range-thumb-border-radius;
    }
  }

  &::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--primary-color);
    cursor: pointer;
    border-style: none;

    @if $css-variable-enabled {
      height: var(--range-thumb-height);
      width: var(--range-thumb-width);
      border-radius: var(--range-thumb-border-radius);
    } @else {
      height: $range-thumb-height;
      width: $range-thumb-width;
      border-radius: $range-thumb-border-radius;
    }
  }

  &.#{$prefix}rounded {
    &::-webkit-slider-thumb {
      border-radius: 999999px;
    }

    &::-moz-range-thumb {
      border-radius: 999999px;
    }
  }

  &.#{$prefix}disabled, &[disabled] {
    background-color: var(--item-disabled-bg-color);

    &::-webkit-slider-thumb {
      background-color: var(--item-disabled-fg-color);
      cursor: default;
    }

    &::-moz-range-thumb {
      background-color: var(--item-disabled-fg-color);
      cursor: default;
    }
  }

  // Colors
  @each $name, $color in $item-colors {
    @if $name {
      &.#{$prefix}#{$name} {
        &::-webkit-slider-thumb {
          background-color: $color;
        }

        &::-moz-range-thumb {
          background-color: $color;
        }
      }
    }
  }
}
