select.#{$prefix}select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: {
    top: 8px;
    bottom: 6px;
    left: 10px;
    right: 10px;
  }
  background-color: var(--input-bg-color);
  color: var(--input-text-color);
  border-width: 0;
  border-bottom-width: 2px;
  border-color: $transparent;
  box-sizing: content-box;
  width: 100%;

  &.#{$prefix}fixed {
    width: auto;
  }

  .#{$prefix}form-el.#{$prefix}fullwidth &, .#{$prefix}form-el.#{$prefix}full-width & {
    width: 100%;
  }

  @if $css-variable-enabled {
    border-radius: var(--select-border-radius);
  } @else {
    border-radius: $select-border-radius;
  }

  --in-pad: 35px;

  ~ .#{$prefix}icon {
    --icon-size: 18px;
    --ic-margin: 10px;
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    margin: {
      top: 0 !important;
      bottom: 0 !important;
    }

    &.#{$prefix}left {
      left: 0;
      margin-right: 0 !important;
      margin-left: var(--ic-margin);
    }

    &.#{$prefix}right {
      right: 0;
      margin-left: 0 !important;
      margin-right: var(--ic-margin);
    }
  }

  &.#{$prefix}with-icon-left {
    padding-left: var(--in-pad) !important;
  }

  &.#{$prefix}with-icon-right {
    padding-right: var(--in-pad) !important;
  }

  &.#{$prefix}with-icon-both {
    padding-right: var(--in-pad) !important;
    padding-left: var(--in-pad) !important;
  }

  &.#{$prefix}small {
    @if $css-variable-enabled {
      font-size: var(--small-text);
    } @else {
      font-size: $small-text;
    }
    padding: {
      left: 9px;
      right: 9px;
    }

    --in-pad: 25px;

    ~ .#{$prefix}icon {
      --icon-size: 12px;
      --ic-margin: 8px;
    }
  }

  &.#{$prefix}large {
    @if $css-variable-enabled {
      font-size: var(--large-text);
    } @else {
      font-size: $large-text;
    }
    padding: {
      left: 16px;
      right: 16px;
    }

    --in-pad: 45px;

    ~ .#{$prefix}icon {
      --icon-size: 24px;
      --ic-margin: 14px;
    }
  }

  &.#{$prefix}xlarge {
    @if $css-variable-enabled {
      font-size: var(--xlarge-text);
    } @else {
      font-size: $xlarge-text;
    }
    padding: {
      left: 20px;
      right: 20px;
    }

    --in-pad: 55px;

    ~ .#{$prefix}icon {
      --icon-size: 36px;
      --ic-margin: 13px;
    }
  }

  &[multiple] {
    padding: 0;
    border-bottom-width: 0px;
    box-sizing: content-box;
    width: max-content;

    option {
      padding: 5px 15px;
      text-align: center;
      background-color: var(--input-bg-color);
    }
  }

  @if $css-variable-enabled {
    transition: var(--primary-transition);
    font-size: var(--medium-text);
  } @else {
    transition: $primary-transition;
    font-size: $medium-text;
  }

  &:hover, &.#{$prefix}hovered {
    background-color: var(--input-hovered-bg-color);
  }

  &:focus, &.#{$prefix}focused {
    background-color: var(--body-bg-color);
    border-color: $transparent !important;

    @if $css-variable-enabled {
      box-shadow: 0 0 0 var(--select-border-spread) var(--input-border-color);
    } @else {
      box-shadow: 0 0 0 $select-border-spread var(--input-border-color);
    }
  }

  @each $name, $color, $skip, $hovered-color in $item-colors {
    @if $name {
      &.#{$prefix}#{$name} {
        border-color: $color;

        &:focus, &.#{$prefix}focused {
          @if $css-variable-enabled {
            box-shadow: 0 0 0 var(--select-border-spread) $hovered-color;
          } @else {
            box-shadow: 0 0 0 $select-border-spread $hovered-color;
          }
        }
      }
    }
  }

  @include mobile {
    &[multiple] {
      padding: 10px;

      option {
        &:first-child {
          border-top: {
            left-radius: 6px;
            right-radius: 6px;
          }
        }

        &:last-child {
          border-bottom: {
            left-radius: 6px;
            right-radius: 6px;
          }
        }
      }
    }
  }

  option {
    background-color: var(--body-bg-color);
    @if $css-variable-enabled {
      transition: var(--primary-transition);
    } @else {
      transition: $primary-transition;
    }
  }

  &[disabled] {
    pointer-events: none;

    background-color: var(--item-disabled-bg-color);
    color: var(--item-disabled-fg-color);

    ~ .#{$prefix}icon {
      color: var(--item-disabled-fg-color);
    }

    option {
      background-color: var(--item-disabled-bg-color);
      color: var(--item-disabled-fg-color);
    }
  }
}
