.zust-switch {
  position: relative;
  margin: 0 0 8px 8px;
  display: inline-block;
  user-select: none;

  span ~ span {
    margin-left: 8px;
  }

  > input + span {
    padding-left: 35px;
    background-color: var(--switch-bg-color);
    border-radius: 100px;
    transition: $primary-transition;
    box-shadow: 0 0 0px 2px var(--switch-border-color);
    height: 18px;
    position: relative;

    &:after {
      content: '';
      border-radius: 100px;
      width: 6px;
      height: 12px;
      background-color: var(--switch-fg-color);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 7px;
      transition: $primary-transition;
    }
  }

  > input {
    display: none;

    &:checked + span {
      background-color: var(--switch-active-bg-color);
      box-shadow: 0 0 0px 2px var(--switch-active-border-color);

      &:after {
        background-color: var(--switch-active-fg-color);
        left: 22px;
      }
    }
  }

  @each $name, $color, $s, $g, $light-color in $item-colors {
    @if $name {
      &.zust-#{$name} > input:checked + span {
        background-color: $color;
        box-shadow: 0 0 0px 2px $light-color;
      }
    }
  }

  &[disabled] {
    pointer-events: none;

    span {
      color: var(--switch-disabled-fg-color);
    }

    > input + span {
      background-color: var(--switch-disabled-bg-color);
      box-shadow: 0 0 0px 1px var(--switch-disabled-bg-color);

      &:after {
        background-color: var(--switch-disabled-fg-color);
      }
    }

    > input:checked + span {
      background-color: var(--switch-disabled-bg-color);
      box-shadow: 0 0 0px 1px var(--switch-disabled-bg-color);

      &:after {
        background-color: var(--switch-disabled-fg-color);
      }
    }
  }

  &.zust-gummy:active > input + span:after {
    width: 20px;
  }

  &.zust-gummy:active > input:checked + span:after {
    width: 20px;
    transform: translate(-12px, -50%);
  }
}
