
// Spin //
.zust-spin {
  animation-name: spin;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  &.zust-fast {
    animation-duration: 1s;
  }

  &.zust-slow {
    animation-duration: 3s;
  }

  &.zust-single {
    animation-name: spin;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;

    &.zust-fast {
      animation-duration: 1s;
    }

    &.zust-slow {
      animation-duration: 3s;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}
