// Background Color
@mixin bg-colors($prefix) {
  .zust#{$prefix}bg-red {
    background-color: $red !important;
    color: $white;

    * {
      color: $white;
    }
  }

  .zust#{$prefix}bg-pink {
    background-color: $pink !important;
    color: $white;

    * {
      color: $white;
    }
  }

  .zust#{$prefix}bg-purple {
    background-color: $purple !important;
    color: $white;

    * {
      color: $white;
    }
  }

  .zust#{$prefix}bg-deep-purple {
    background-color: $deep-purple !important;
    color: $white;

    * {
      color: $white;
    }
  }

  .zust#{$prefix}bg-indigo {
    background-color: $indigo !important;
    color: $white;

    * {
      color: $white;
    }
  }

  .zust#{$prefix}bg-blue {
    background-color: $blue !important;
    color: $white;

    * {
      color: $white;
    }
  }

  .zust#{$prefix}bg-light-blue {
    background-color: $light-blue !important;
    color: $white;

    * {
      color: $white;
    }
  }

  .zust#{$prefix}bg-cyan {
    background-color: $cyan !important;
    color: $white;

    * {
      color: $white;
    }
  }

  .zust#{$prefix}bg-teal {
    background-color: $teal !important;
    color: $white;

    * {
      color: $white;
    }
  }

  .zust#{$prefix}bg-green {
    background-color: $green !important;
    color: $white;

    * {
      color: $white;
    }
  }

  .zust#{$prefix}bg-light-green {
    background-color: $light-green !important;
    color: $white;

    * {
      color: $white;
    }
  }

  .zust#{$prefix}bg-lime {
    background-color: $lime !important;
    color: $text-dark;

    * {
      color: $text-dark;
    }
  }

  .zust#{$prefix}bg-yellow {
    background-color: $yellow !important;
    color: $text-dark;

    * {
      color: $text-dark;
    }
  }

  .zust#{$prefix}bg-amber {
    background-color: $amber !important;
    color: $text-dark;

    * {
      color: $text-dark;
    }
  }

  .zust#{$prefix}bg-orange {
    background-color: $orange !important;
    color: $text-dark;

    * {
      color: $text-dark;
    }
  }

  .zust#{$prefix}bg-deep-orange {
    background-color: $deep-orange !important;
    color: $white;

    * {
      color: $white;
    }
  }

  .zust#{$prefix}bg-brown {
    background-color: $brown !important;
    color: $white;

    * {
      color: $white;
    }
  }

  .zust#{$prefix}bg-grey {
    background-color: $grey !important;
    color: $white;

    * {
      color: $white;
    }
  }

  .zust#{$prefix}bg-light-grey {
    background-color: $light-grey !important;
    color: $white;

    * {
      color: $white;
    }
  }

  .zust#{$prefix}bg-blue-grey {
    background-color: $blue-grey !important;
    color: $white;

    * {
      color: $white;
    }
  }

  // Necessery

  .zust#{$prefix}bg-transparent {
    background-color: $transparent !important;
    color: var(--text-color-primary);

    * {
      color: var(--text-color-primary);
    }
  }

  .zust#{$prefix}bg-light {
    background-color: rgba(144, 144, 144, 0.1) !important;
    color: var(--text-color-primary);

    * {
      color: var(--text-color-primary);
    }
  }

  .zust#{$prefix}bg-white {
    background-color: $white !important;
    color: $text-dark;

    * {
      color: $text-dark;
    }
  }

  .zust#{$prefix}bg-black {
    background-color: $black !important;
    color: $white;

    * {
      color: $white;
    }
  }

  .zust#{$prefix}bg-inverted {
    background-color: var(--bg-color-inverted) !important;
    color: var(--text-color-inverted);

    * {
      color: var(--text-color-inverted);
    }
  }

  .zust#{$prefix}bg-default {
    background-color: var(--body-color-primary) !important;
    color: var(--text-color-secondary);

    * {
      color: var(--text-color-secondary);
    }
  }

  // Item Colors
  @each $name, $color, $txt-color in $item-colors {
    @if $name {
      .zust#{$prefix}bg-#{$name} {
        background-color: $color !important;
        color: $txt-color;

        * {
          color: $txt-color;
        }
      }
    }
  }

  // Brands
  .zust#{$prefix}bg-github {
    background-color: $github !important;
    color: $white;

    * {
      color: $white;
    }
  }

  .zust#{$prefix}bg-facebook {
    background-color: $facebook !important;
    color: $white;

    * {
      color: $white;
    }
  }

  .zust#{$prefix}bg-facebook-messenger {
    background-color: $facebook-messenger !important;
    color: $white;

    * {
      color: $white;
    }
  }

  .zust#{$prefix}bg-youtube {
    background-color: $youtube !important;
    color: $white;

    * {
      color: $white;
    }
  }

  .zust#{$prefix}bg-twitter {
    background-color: $twitter !important;
    color: $white;

    * {
      color: $white;
    }
  }

  .zust#{$prefix}bg-linkedin {
    background-color: $linkedin !important;
    color: $white;

    * {
      color: $white;
    }
  }

  // Gradients
  .zust#{$prefix}bg-blue-gradient, .zust#{$prefix}bg-link-gradient {
    background: linear-gradient(135deg, $blue 0%, #00cfe9 100%) !important;
    color: $white;

    * {
      color: $white;
    }
  }

  .zust#{$prefix}bg-red-gradient, .zust#{$prefix}bg-error-gradient {
    background: linear-gradient(135deg, $red 0%, $pink 100%) !important;
    color: $white;

    * {
      color: $white;
    }
  }

  .zust#{$prefix}bg-green-gradient, .zust#{$prefix}bg-success-gradient {
    background: linear-gradient(135deg, $light-green 0%, $light-blue 100%) !important;
    color: $white;

    * {
      color: $white;
    }
  }

  .zust#{$prefix}bg-amber-gradient, .zust#{$prefix}bg-warning-gradient {
    background: linear-gradient(135deg, $amber 0%, #ff8330 100%) !important;
    color: $white;

    * {
      color: $text-dark;
    }
  }
}

@include bg-colors('-');

// Backgrounds on Dark Theme

[zust-theme="dark"] {
  @include bg-colors('-dark-');
}


// Text Colors
@mixin text-colors($prefix) {
  .zust#{$prefix}red {
    color: $red !important;

    * {
      color: $red;
    }
  }

  .zust#{$prefix}pink {
    color: $pink !important;

    * {
      color: $pink;
    }
  }

  .zust#{$prefix}purple {
    color: $purple !important;

    * {
      color: $purple;
    }
  }

  .zust#{$prefix}deep-purple {
    color: $deep-purple !important;

    * {
      color: $deep-purple;
    }
  }

  .zust#{$prefix}indigo {
    color: $indigo !important;

    * {
      color: $indigo;
    }
  }

  .zust#{$prefix}blue {
    color: $blue !important;

    * {
      color: $blue;
    }
  }

  .zust#{$prefix}light-blue {
    color: $light-blue !important;

    * {
      color: $light-blue;
    }
  }

  .zust#{$prefix}cyan {
    color: $cyan !important;

    * {
      color: $cyan;
    }
  }

  .zust#{$prefix}teal {
    color: $teal !important;

    * {
      color: $teal;
    }
  }

  .zust#{$prefix}green {
    color: $green !important;

    * {
      color: $green;
    }
  }

  .zust#{$prefix}light-green {
    color: $light-green !important;

    * {
      color: $light-green;
    }
  }

  .zust#{$prefix}lime {
    color: $lime !important;

    * {
      color: $lime;
    }
  }

  .zust#{$prefix}yellow {
    color: $yellow !important;

    * {
      color: $yellow;
    }
  }

  .zust#{$prefix}amber {
    color: $amber !important;

    * {
      color: $amber;
    }
  }

  .zust#{$prefix}orange {
    color: $orange !important;

    * {
      color: $orange;
    }
  }

  .zust#{$prefix}deep-orange {
    color: $deep-orange !important;

    * {
      color: $deep-orange;
    }
  }

  .zust#{$prefix}brown {
    color: $brown !important;

    * {
      color: $brown;
    }
  }

  .zust#{$prefix}grey {
    color: $grey !important;

    * {
      color: $grey;
    }
  }

  .zust#{$prefix}blue-grey {
    color: $blue-grey !important;

    * {
      color: $blue-grey;
    }
  }

  .zust#{$prefix}transparent {
    color: $transparent !important;

    * {
      color: $transparent;
    }
  }

  .zust#{$prefix}black {
    color: $black !important;

    * {
      color: $black;
    }
  }

  .zust#{$prefix}white {
    color: $white !important;

    * {
      color: $white;
    }
  }

  .zust#{$prefix}inverted {
    color: var(--text-color-inverted) !important;

    * {
      color: var(--text-color-inverted);
    }
  }

  .zust#{$prefix}pow-primary {
    color: var(--text-color-primary) !important;

    * {
      color: var(--text-color-primary);
    }
  }

  .zust#{$prefix}pow-secondary {
    color: var(--text-color-secondary) !important;

    * {
      color: var(--text-color-secondary);
    }
  }

  .zust#{$prefix}pow-tertiary {
    color: var(--text-color-tertiary) !important;

    * {
      color: var(--text-color-tertiary);
    }
  }

  // Item Colors
  @each $name, $color, $txt-color in $item-colors {
    @if $name {
      .zust#{$prefix}#{$name} {
        color: $color !important;

        * {
          color: $color;
        }
      }
    }
  }

  // Brands
  .zust#{$prefix}github {
    color: $github !important;

    * {
      color: $github;
    }
  }

  .zust#{$prefix}facebook {
    color: $facebook !important;

    * {
      color: $facebook;
    }
  }

  .zust#{$prefix}facebook-messenger {
    color: $facebook-messenger !important;

    * {
      color: $facebook-messenger;
    }
  }

  .zust#{$prefix}linkedin {
    color: $linkedin !important;

    * {
      color: $linkedin;
    }
  }

  .zust#{$prefix}twitter {
    color: $twitter !important;

    * {
      color: $twitter;
    }
  }

  .zust#{$prefix}youtube {
    color: $youtube !important;

    * {
      color: $youtube;
    }
  }

  // Gradients
  .zust#{$prefix}blue-gradient, .zust#{$prefix}link-gradient {
    background: linear-gradient(135deg, $blue 0%, #00cfe9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .zust#{$prefix}red-gradient, .zust#{$prefix}error-gradient {
    background: linear-gradient(135deg, $red 0%, $pink 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .zust#{$prefix}green-gradient, .zust#{$prefix}success-gradient {
    background: linear-gradient(135deg, $light-green 0%, $light-blue 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .zust#{$prefix}amber-gradient, .zust#{$prefix}warning-gradient {
    background: linear-gradient(135deg, $amber 0%, #ff8330 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@include text-colors('-text-');

// Text on Dark Mode

[zust-theme="dark"] {
  @include text-colors('-dark-text-');
}
