// Background Colors
$extra-bg-colors: (
  ('inverted', var(--bg-color-inverted), var(--text-color-inverted)),
  ('default', var(--body-bg-color), var(--text-color-secondary)),
  ('light', var(--light-color), var(--text-color-secondary))
);

$bg-color-helpers: join($colors, $extra-bg-colors);

@mixin bg-colors($fix: '') {
  // From List
  @each $name, $bg-color, $txt-color in $bg-color-helpers {
    .#{$prefix}#{$fix}bg-#{$name} {
      background-color: $bg-color !important;
      color: $txt-color;

      * {
        color: $txt-color
      }
    }
  }

  // Item Colors
  @each $name, $color, $txt-color in $item-colors {
    @if $name {
      .#{$prefix}#{$fix}bg-#{$name} {
        background-color: $color !important;
        color: $txt-color;

        * {
          color: $txt-color
        }
      }
    }
  }

  // Gradients
  .#{$prefix}#{$fix}bg-blue-gradient, .#{$prefix}#{$fix}bg-link-gradient {
    background: linear-gradient(135deg, $blue 0%, #00cfe9 100%) !important;
    color: $white;

    * {
      color: $white;
    }
  }

  .#{$prefix}#{$fix}bg-red-gradient, .#{$prefix}#{$fix}bg-error-gradient {
    background: linear-gradient(135deg, $red 0%, $pink 100%) !important;
    color: $white;

    * {
      color: $white;
    }
  }

  .#{$prefix}#{$fix}bg-green-gradient, .#{$prefix}#{$fix}bg-success-gradient {
    background: linear-gradient(135deg, $light-green 0%, $light-blue 100%) !important;
    color: $white;

    * {
      color: $white;
    }
  }

  .#{$prefix}#{$fix}bg-amber-gradient, .#{$prefix}#{$fix}bg-warning-gradient {
    background: linear-gradient(135deg, $amber 0%, #ff8330 100%) !important;
    color: $white;

    * {
      color: $text-dark;
    }
  }
}

@include bg-colors;

// Backgrounds on Dark Theme
[#{$prefix}theme="dark"] {
  @include bg-colors('dark-');
}

// Text Colors
$extra-text-colors: (
  ('inverted', var(--text-color-inverted)),
  ('pow-primary', var(--text-color-primary)),
  ('pow-secondary', var(--text-color-secondary)),
  ('pow-tertiary', var(--text-color-tertiary))
);

$text-color-helpers: join($colors, $extra-text-colors);

@mixin text-colors($fix: '') {
  // From List
  @each $name, $color in $text-color-helpers {
    .#{$prefix}#{$fix}text-#{$name} {
      color: $color !important;

      * {
        color: $color
      }
    }
  }

  // Item Colors
  @each $name, $color in $item-colors {
    @if $name {
      .#{$prefix}#{$fix}text-#{$name} {
        color: $color !important;

        * {
          color: $color;
        }
      }
    }
  }

  // Gradients
  .#{$prefix}#{$fix}text-blue-gradient, .#{$prefix}#{$fix}text-link-gradient {
    background: linear-gradient(135deg, $blue 0%, #00cfe9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .#{$prefix}#{$fix}text-red-gradient, .#{$prefix}#{$fix}text-error-gradient {
    background: linear-gradient(135deg, $red 0%, $pink 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .#{$prefix}#{$fix}text-green-gradient, .#{$prefix}#{$fix}text-success-gradient {
    background: linear-gradient(135deg, $light-green 0%, $light-blue 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .#{$prefix}#{$fix}text-amber-gradient, .#{$prefix}#{$fix}text-warning-gradient {
    background: linear-gradient(135deg, $amber 0%, #ff8330 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@include text-colors;

// Text on Dark Theme
[#{$prefix}theme="dark"] {
  @include text-colors('dark-');
}
