/*
.zust-group {
  display: flex;
  margin: 5px;

  .zust-item {
    margin: 0 !important;
  }

  .zust-item:not(:first-child) {
    border-radius: 0 !important;
  }

  .zust-item:not(:last-child) {
    border-radius: 0 !important;
  }

  .zust-item:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .zust-item:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}
*/

// Show/Hide
.zust-show {
  display: block;
}

.zust-hide {
  display: none;
}

// On Dark
[zust-theme="dark"] {
  .zust-show-on-dark {
    display: block;
  }

  .zust-hide-on-dark {
    display: none;
  }
}

// Position Helper
.zust-centered {
  margin-left: 0 !important;
  margin-right: 0 !important;
  position: absolute;
  left: 50%;
  @include transform(translateX(-50%));
}


// Image Helper
.zust-flip-horizontal, .zust-flip-x {
  transform: scaleX(-1);
}

.zust-flip-vertical, .zust-flip-y {
  transform: scaleY(-1);
}

.zust-flip-horizontal.zust-flip-y,
.zust-flip-horizontal.zust-flip-vertical,
.zust-flip-vertical.zust-flip-x,
.zust-flip-x.zust-flip-y {
  transform: scale(-1, -1);
}


// Rotation
@each $name, $value in (15, 15deg),
                       (-15, -15deg),
                       (30, 30deg),
                       (-30, -30deg)
                       (45, 45deg),
                       (-45, -45deg),
                       (60, 60deg),
                       (-60, -60deg),
                       (90, 90deg),
                       (-90, -90deg),
                       (120, 120deg),
                       (-120, -120deg),
                       (180, 180deg),
                       (-180, -180deg) {
  .zust-rotate-#{$name} {
    @include transform(rotate($value));
  }
}


// Shape Helper
.zust-fullwidth, .zust-full-width {
  @extend %full-width;
}

.zust-rounded {
  border-radius: $corner-radius-full !important;
}

.zust-semi-rounded {
  border-radius: 2px !important;
}

.zust-radiusless, .zust-sharp {
  border-radius: 0 !important;
}

// Text Helper
.zust-text-centered {
  text-align: center;
}

.zust-rtl {
  text-align: right;
}

.zust-unselectable {
  @extend %no-select;
}

.zust-uppercase {
  text-transform: uppercase;
}

.zust-lowercase {
  text-transform: lowercase;
}

.zust-capitalize {
  text-transform: capitalize;
}
