// Show/Hide
.zust-show, .zust-visible {
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
}

.zust-hide, .zust-hidden {
  display: none !important;
}

// Based on Size
.zust-show, .zust-visible {
  &-on-mobile {
    @include mobile {
      display: block !important;
      visibility: visible !important;
      opacity: 1 !important;
    }
  }
  &-on-tablet {
    @include zust-tablet {
      display: block !important;
      visibility: visible !important;
      opacity: 1 !important;
    }
  }
  &-on-touch {
    @include touch {
      display: block !important;
      visibility: visible !important;
      opacity: 1 !important;
    }
  }
  &-on-desktop {
    @include desktop {
      display: block !important;
      visibility: visible !important;
      opacity: 1 !important;
    }
  }
}

.zust-hide, .zust-hidden {
  &-on-mobile {
    @include mobile {
      display: none !important;
    }
  }
  &-on-tablet {
    @include zust-tablet {
      display: none !important;
    }
  }
  &-on-touch {
    @include touch {
      display: none !important;
    }
  }
  &-on-desktop {
    @include desktop {
      display: none !important;
    }
  }
}

// On Dark
[zust-theme="dark"] {
  .zust-show-on-dark, .zust-visible-on-dark {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
  }

  .zust-hide-on-dark, .zust-hidden-on-dark {
    display: none !important;
  }
}

// Margin and Padding
@mixin marginless {
  margin: 0 !important;
  margin: {
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
  }
}

@mixin paddingless {
  padding: 0 !important;
  padding: {
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
  }
}

.zust-marginless {
  @include marginless
}

.zust-paddingless {
  @include paddingless
}

.zust-marginless {
  &-on-mobile {
    @include mobile {
      @include marginless
    }
  }
  &-on-tablet {
    @include zust-tablet {
      @include marginless
    }
  }
  &-on-touch {
    @include zust-tablet {
      @include marginless
    }
  }
  &-on-desktop {
    @include zust-tablet {
      @include marginless
    }
  }
}

.zust-paddingless {
  &-on-mobile {
    @include mobile {
      @include paddingless
    }
  }
  &-on-tablet {
    @include zust-tablet {
      @include paddingless
    }
  }
  &-on-touch {
    @include zust-tablet {
      @include paddingless
    }
  }
  &-on-desktop {
    @include zust-tablet {
      @include paddingless
    }
  }
}

@for $value from 1 through 10 {

  // Margin
  .zust-m-#{$value} {
    margin: $value * 1rem;
  }
  .zust-m-t-#{$value} {
    margin-top: $value * 1rem;
  }
  .zust-m-b-#{$value} {
    margin-bottom: $value * 1rem;
  }
  .zust-m-l-#{$value} {
    margin-left: $value * 1rem;
  }
  .zust-m-r-#{$value} {
    margin-right: $value * 1rem;
  }
  .zust-m-x-#{$value} {
    margin-left: $value * 1rem;
    margin-right: $value * 1rem;
  }
  .zust-m-y-#{$value} {
    margin-top: $value * 1rem;
    margin-bottom: $value * 1rem;
  }

  // Padding
  .zust-p-#{$value} {
    padding: $value * 1rem;
  }
  .zust-p-t-#{$value} {
    padding-top: $value * 1rem;
  }
  .zust-p-b-#{$value} {
    padding-bottom: $value * 1rem;
  }
  .zust-p-l-#{$value} {
    padding-left: $value * 1rem;
  }
  .zust-p-r-#{$value} {
    padding-right: $value * 1rem;
  }
  .zust-p-x-#{$value} {
    padding-left: $value * 1rem;
    padding-right: $value * 1rem;
  }
  .zust-p-y-#{$value} {
    padding-top: $value * 1rem;
    padding-bottom: $value * 1rem;
  }
}

// Float
.zust-left {
  float: left !important;
}

.zust-right {
  float: right !important;
}

// Image Helper
.zust-flip-horizontal, .zust-flip-x {
  transform: scaleX(-1);
}

.zust-flip-vertical, .zust-flip-y {
  transform: scaleY(-1);
}

.zust-flip-horizontal.zust-flip-y,
.zust-flip-horizontal.zust-flip-vertical,
.zust-flip-vertical.zust-flip-x,
.zust-flip-x.zust-flip-y {
  transform: scale(-1, -1);
}


// Rotation
@each $name, $value in (15, 15deg),
                       (-15, -15deg),
                       (30, 30deg),
                       (-30, -30deg),
                       (45, 45deg),
                       (-45, -45deg),
                       (60, 60deg),
                       (-60, -60deg),
                       (90, 90deg),
                       (-90, -90deg),
                       (120, 120deg),
                       (-120, -120deg),
                       (180, 180deg),
                       (-180, -180deg) {
  .zust-rotate-#{$name} {
    transform: rotate($value);
  }
}


// Shape Helper
.zust-fullwidth, .zust-full-width {
  @extend %full-width;
}

.zust-fullheight, .zust-full-height {
  @extend %full-height;
}

.zust-rounded {
  border-radius: 9999px !important;
}

.zust-semi-rounded {
  border-radius: 2px !important;
}

.zust-radiusless, .zust-sharp {
  border-radius: 0 !important;
}
