// Show/Hide
.zust-show, .zust-visible {
  display: block !important;
}

.zust-hide, .zust-hidden {
  display: none !important;
}

// On Dark
[zust-theme="dark"] {
  .zust-show-on-dark, .zust-visible-on-dark {
    display: block !important;
  }

  .zust-hide-on-dark, .zust-hidden-on-dark {
    display: none !important;
  }
}

// Position Helper
.zust-centered {
  margin-left: 0 !important;
  margin-right: 0 !important;
  position: absolute;
  left: 50%;
  @include transform(translateX(-50%));
}

// Float
.zust-left {
  float: left !important;
}

.zust-right {
  float: right !important;
}

// Image Helper
.zust-flip-horizontal, .zust-flip-x {
  transform: scaleX(-1);
}

.zust-flip-vertical, .zust-flip-y {
  transform: scaleY(-1);
}

.zust-flip-horizontal.zust-flip-y,
.zust-flip-horizontal.zust-flip-vertical,
.zust-flip-vertical.zust-flip-x,
.zust-flip-x.zust-flip-y {
  transform: scale(-1, -1);
}


// Rotation
@each $name, $value in (15, 15deg),
                       (-15, -15deg),
                       (30, 30deg),
                       (-30, -30deg),
                       (45, 45deg),
                       (-45, -45deg),
                       (60, 60deg),
                       (-60, -60deg),
                       (90, 90deg),
                       (-90, -90deg),
                       (120, 120deg),
                       (-120, -120deg),
                       (180, 180deg),
                       (-180, -180deg) {
  .zust-rotate-#{$name} {
    @include transform(rotate($value));
  }
}


// Shape Helper
.zust-fullwidth, .zust-full-width {
  @extend %full-width;
}

.zust-fullheight, .zust-full-height {
  @extend %full-height;
}

.zust-rounded {
  border-radius: $corner-radius-full !important;
}

.zust-semi-rounded {
  border-radius: 2px !important;
}

.zust-radiusless, .zust-sharp {
  border-radius: 0 !important;
}

// Text Helper

.zust-text-bold {
  font-weight: 600 !important;
}

.zust-text-normal {
  font-weight: 400 !important;
}

.zust-text-light {
  font-weight: 100 !important;
}

.zust-text-centered, .zust-text-center {
  text-align: center !important;
}

.zust-rtl, .zust-right-to-left, .zust-text-rtl, .zust-text-right-to-left {
  text-align: right !important;
}

.zust-ltr, .zust-left-to-right, .zust-text-ltr, .zust-text-left-to-right {
  text-align: left !important;
}

.zust-unselectable {
  @extend %no-select;
}

.zust-uppercase {
  text-transform: uppercase;
}

.zust-lowercase {
  text-transform: lowercase;
}

.zust-capitalize {
  text-transform: capitalize;
}
