
.zust-text-bold {
  font-weight: 600 !important;
}

.zust-text-normal {
  font-weight: 400 !important;
}

.zust-text-italic {
  font-style: italic !important;
}

.zust-text-underline, .zust-text-underlined {
  text-decoration: underline !important;
}

.zust-text-light {
  font-weight: lighter !important;
}

.zust-text-small {
  font-size: $small-text !important;
}

.zust-text-medium {
  font-size: $medium-text !important;
}

.zust-text-large {
  font-size: $large-text !important;
}

.zust-text-xlarge {
  font-size: $xlarge-text !important;
}

.zust-text-centered, .zust-text-center {
  text-align: center !important;
}

.zust-rtl, .zust-right-to-left, .zust-text-rtl, .zust-text-right-to-left, .zust-text-right {
  text-align: right !important;
}

.zust-ltr, .zust-left-to-right, .zust-text-ltr, .zust-text-left-to-right, .zust-text-left {
  text-align: left !important;
}

.zust-unselectable, .zust-text-unselectable {
  @extend %no-select;
}

.zust-uppercase, .zust-text-uppercase {
  text-transform: uppercase !important;
}

.zust-lowercase, .zust-text-lowercase {
  text-transform: lowercase !important;
}

.zust-capitalize, .zust-text-capitalize {
  text-transform: capitalize !important;
}

.zust-text-justify {
  text-align: justify !important;
}

.zust-text-no-wrap, .zust-text-nowrap {
  white-space: nowrap !important;
}

.zust-text-truncate {
  max-width: 100% !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.zust-text-family-inherit {
  font-family: inherit !important;
}

.zust-text-size-inherit {
  font-size: inherit !important;
}

.zust-text-no-decoration {
  text-decoration: none !important;
}

.zust-text-breakable {
  word-break: break-all !important;
}

.zust-text-reset {
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  color: inherit;
  font-style: normal;
}
