
.#{$prefix}text-bold {
  font-weight: 600 !important;
}

.#{$prefix}text-normal {
  font-weight: 400 !important;
}

.#{$prefix}text-italic {
  font-style: italic !important;
}

.#{$prefix}text-underline, .#{$prefix}text-underlined {
  text-decoration: underline !important;
}

.#{$prefix}text-light {
  font-weight: lighter !important;
}

.#{$prefix}text-small {
  font-size: $small-text !important;
}

.#{$prefix}text-medium {
  font-size: $medium-text !important;
}

.#{$prefix}text-large {
  font-size: $large-text !important;
}

.#{$prefix}text-xlarge {
  font-size: $xlarge-text !important;
}

.#{$prefix}text-centered, .#{$prefix}text-center {
  text-align: center !important;
}

.#{$prefix}rtl, .#{$prefix}right-to-left, .#{$prefix}text-rtl, .#{$prefix}text-right-to-left, .#{$prefix}text-right {
  text-align: right !important;
}

.#{$prefix}ltr, .#{$prefix}left-to-right, .#{$prefix}text-ltr, .#{$prefix}text-left-to-right, .#{$prefix}text-left {
  text-align: left !important;
}

.#{$prefix}unselectable, .#{$prefix}text-unselectable {
  @extend %no-select;
}

.#{$prefix}uppercase, .#{$prefix}text-uppercase {
  text-transform: uppercase !important;
}

.#{$prefix}lowercase, .#{$prefix}text-lowercase {
  text-transform: lowercase !important;
}

.#{$prefix}capitalize, .#{$prefix}text-capitalize {
  text-transform: capitalize !important;
}

.#{$prefix}text-justify, .#{$prefix}text-justified {
  text-align: justify !important;
}

.#{$prefix}text-no-wrap, .#{$prefix}text-nowrap {
  white-space: nowrap !important;
}

.#{$prefix}text-truncate {
  max-width: 100% !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.#{$prefix}text-family-inherit {
  font-family: inherit !important;
}

.#{$prefix}text-size-inherit {
  font-size: inherit !important;
}

.#{$prefix}text-no-decoration {
  text-decoration: none !important;
}

.#{$prefix}text-breakable {
  word-break: break-all !important;
}

.#{$prefix}text-reset {
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  color: inherit;
  font-style: normal;
}

.#{$prefix}text-smallcaps {
  font-variant: small-caps;
}

@for $i from 1 through 10 {
  .#{$prefix}text-#{$i} {
    font-size: ($i/25) * 10rem;
  }

  $name: '.#{$prefix}text-#{$i}-name';

  @include each-breakpoint($name, 'name') {
    font-size: ($i/25) * 10rem;
  }
}
