doctype html
html(lang='en' dir='ltr')
  include _mixins.pug
  head
    +title('Support Us - Zusty CSS')
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(name='mobile-web-app-capable' content='yes')
    meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1')
    meta(name='description' content='Power Packed CSS Framework for Building Beautiful Interfaces.')
    meta(name='author' content='Sarsa Murmu')
    meta(name='keywords' content='zusty, css, framework, web, open-source, customizable, dark')
    meta(property='og:site_name' content='Zusty CSS')
    if (!debug)
      // Global site tag (gtag.js) - Google Analytics 
      script(async src="https://www.googletagmanager.com/gtag/js?id=UA-142857751-3")
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-142857751-3');
    // Open Graph data
    meta(property='og:type' content='framework')
    meta(property='og:url' content=canonical)
    meta(property='og:image' content='/resources/brand_logo.png')
    meta(property='og:description' content='Power Packed CSS Framework for Building Beautiful Interfaces.')
    meta(property='og:site_name' content='Zusty CSS')
    meta(property='og:locale' content='en_US')
    link(rel='canonical' href=canonical)
    // Twitter
    // Twitter Card data
    meta(name='twitter:card' content='summary')
    meta(name='twitter:creator' content='@sarsamurmu')
    meta(name='twitter:site' content='@sarsamurmu')
    meta(name='twitter:title' content='Zusty CSS')
    meta(name='twitter:description' content='Power Packed CSS Framework for Building Beautiful Interfaces.')
    // Twitter summary card with large image must be at least 280x150px
    meta(name='twitter:image:src' content='/resources/brand_logo.png')
    // Theme Colors
    meta(name='theme-color' content='#FFFFFF')
    meta(name='msapplication-TileColor' content='#00b881')
    meta(name='msapplication-navbutton-color' content='#00b881')
    meta(name='apple-mobile-web-app-status-bar-style' content='#00b881')
    // Favicons
    link(rel='shortcut icon' href='/resources/favicon.png')
    link(rel='apple-touch-icon' href='/resources/favicon.png')
    link(rel='apple-touch-icon' sizes='192x192' href='/resources/favicon.png')
    link(rel='apple-touch-icon-precomposed' href='/resources/favicon.png')
    meta(name='msapplication-TileImage' content='/resources/favicon.png')
    link(rel='icon' href='/resources/favicon.png' sizes='192x192' type='image/png')
    // Apply The Theme Before Anything Loads
    script(src='/scripts/theme-apply.js')
    // CSS
    if (!debug)
      link(rel='stylesheet' href='/resources/zusty.min.css')
    else
      link(rel='stylesheet' href='/dist/zusty.css')
    link(rel='stylesheet' href='/stylesheets/support.css')
  body
    +nav
    
    .zust-text-center
      h1 Support Zusty CSS
      p Become a supporter of Zusty CSS. This will support the development too.
    br 
    .support-option-container
      a.support-option(href='https://www.patreon.com/join/sarsamurmu' rel='noopener' target='_blank')
        h2 Recurring
        img(src='/resources/patreon.svg' alt='patreon_logo')
        p Become a Patron in Patreon.
      a.support-option(href='https://ko-fi.com/sarsamurmu' rel='noopener' target='_blank')
        h2 One Time
        img(src='/resources/ko-fi.svg' alt='ko-fi_logo')
        p Buy me a Coffee on Ko-fi.
    
    p.thanks-text Thanks in advance for Supporting Zusty CSS :D
    
    +footer
